[2019-03-22 21:58] bradcray opened #2 "Make arkouda backwards-compatible with Chapel 1.18"
In a discussion with @mhmerrill, he mentioned that (a) he was curious what it would take to make today's 1.19-compatible version of arkouda continue to compile with 1.18 and (b) how GitHub issues work.  To that end, I opened up this issue as a sample to consider.  I've thrown one of the pre-existing standard labels onto it, but note that new labels can be created and customized (and standard ones

[2019-03-23 01:31] #2 closed, assigned to nobody

[2019-03-25 19:28] reuster986 opened #5 "Add ak.array() and pdarray.to_ndarray()"
We need a function on the python side that accepts a list-like object and sends it to the chapel backend to create a pdarray. The complementary method, pdarray.to_ndarray(), would also be useful, but with some safety checks to disallow sending back huge arrays. Both of these functions will require a means of bulk data serialization over ZMQ between python and chapel.

[2019-03-25 20:02] reuster986 opened #6 "Integrate GenSymIO.chpl"
The code in GenSymIO.chpl correctly and performantly (for BlockDist) reads in HDF5 files to a Block distributed array, but it is not callable from arkouda yet. Add ak.read_hdf(dsetName, filenames) and message processing machinery on the backend. Finally, create a python test script that connects to the server, reads in files specified on the command line into a pdarray, and prints it (with timings

[2019-03-25 20:50] #6 closed, assigned to reuster986

[2019-03-26 13:27] mhmerrill opened #8 "Add ak.argsort() to mirror np.argsort()"
iv:pdarray:int64 = ak.argsort(pdarray)
    returns an index vector which sorts the original pdarray
    currently only needed for int64
    toys/CountingSort.chpl has a start at this

[2019-03-26 13:30] mhmerrill opened #9 "Add more types like ak.uint64"
add uint64 or decide (prob not) to use uint64 or int64 only
types like uint16, uint32, float32

[2019-03-26 13:33] mhmerrill opened #10 "Add more operators to bool, int64, and float64"
binary operators and operator=

[2019-03-26 13:34] mhmerrill opened #11 "Add ak.argmax and ak.argmin"
add argmax(maxloc) and argmin(minloc) reductions

[2019-03-26 13:35] mhmerrill opened #12 "Fix ak.arange to behave like numpy.arange"

[2019-03-26 13:36] mhmerrill opened #13 "ID scans of bool cast to int"
1D Scans in 1.19.0 of bool array cast to int need a copy made to parallelize

[2019-03-26 13:37] mhmerrill opened #14 "add some more random pdarray generators"
like np.rand() and np.randn()

[2019-03-26 13:38] mhmerrill opened #15 "fix sorta broken implementation of bools"
fix sorta broken implementation of bools (Python3 vs. Numpy behavior) and bool is a type not a string like I have it (~ vs. not)

[2019-03-26 13:40] mhmerrill opened #16 "Add __setitem__(slice) scatter indexing a[slice] = val or pdarray"

[2019-03-26 13:42] mhmerrill opened #17 "Enhance check/test code"
write some python scripts to give pass/fail checks between arkouda and numpy

[2019-03-26 13:44] mhmerrill opened #18 "Look into weakref for python to track all pdarrays and objects that reference server-side objects"

[2019-03-26 13:50] mhmerrill opened #19 "make ak.dtypes more like np.dtypes"
to allow for casting and more numpy like operation

[2019-03-26 20:59] reuster986 opened #20 "Add pdarray.min() and pdarray.max()"

[2019-03-28 00:38] #16 closed, assigned to mhmerrill

[2019-03-28 17:40] mhmerrill opened #22 "add checking for valid arguments in the arkouda HDF5 based I/O"
add at a minimum a check for file existence and field existence in the HDF5 file.

[2019-03-28 18:27] mhmerrill opened #23 "add function to return the data set names from HDF5 file"
This could be python-side only functionality but in the future we prob need this on the chapel-side

[2019-03-28 18:32] mhmerrill opened #24 "HDF5 I/O crashed on mike's mac"
HDF5 file I/O works fine when one file is specified but
when two or more files are specified the program crashes on mike's mac.
This does not seem to be the case on the sherlock IB linux cluster.

This could have any one of several causes...
1) bug in arkouda
2) bug in chapel llvm build
3) bug in HDF5 module
4) i don't know

Mike.

[2019-03-28 20:19] #11 closed, assigned to mhmerrill

[2019-03-28 20:28] mhmerrill opened #25 "optimize ak.histogram"
possibly use PrivateDist or ReplicatedDist if the number of bins is less than a million or so.
this is to remove the need for network atomics.

[2019-03-28 20:32] mhmerrill opened #26 "optimize ak.unique and ak.value_counts"
possibly use PrivateDist or ReplicatedDist for ranges of values less than a million.
possibly use PrivateDist couples with assoc array for large ranges of values which are sparsely populated.

[2019-04-04 12:22] #13 closed, assigned to bradcray

[2019-04-04 16:35] #22 closed, assigned to reuster986

[2019-04-04 20:02] mhmerrill opened #30 "add a way to send keyboard interrupt from python to arkouda and catch it in arkouda_server/chapel"
that is catch it in arkouda_server/chapel

[2019-04-07 01:01] mhmerrill opened #31 "link FFTW/MPI against arkouda_server"
demonstrate chapel/MPI linkage using FFTW/MPI... as a model for how do do this with other MPI based libs. example code is in toys/fftw-mpi.chpl

[2019-04-08 18:52] #5 closed, assigned to reuster986, mhmerrill

[2019-04-08 19:29] #24 closed, assigned to mhmerrill

[2019-04-11 15:41] reuster986 opened #33 "Eliminate copies from ak.arange(), etc."
Current pattern (see, for example, [MsgProcessing.chpl](https://github.com/mhmerrill/arkouda/blob/master/MsgProcessing.chpl) in `proc arange`):

[code]

This creates the SymEntry by copying `a`, in order to avoid accessing the SymEntry within the forall, which hotspots on the class instance.
However, I think we can avoid the hotspotting with a task-private alias. Would the following work?

[code]

[2019-04-11 20:48] LouisJenkinsCS opened #37 "HyperNetX (HNX) and Arkouda"
I believe it would be best if Arkouda could prioritize implementation and fine-tuning performance with regards to HNX. There was talk of a [Chapel HyperGraph LIbrary (CHGL)](https://github.com/pnnl/chgl) - [HyperNetX (HNX)](https://github.com/pnnl/HyperNetX) pipeline, but Arkouda is a very promising alternative. HNX is implemented _entirely_ via numpy and scipy, and so would massively benefit from

[2019-04-22 18:45] LouisJenkinsCS opened #39 "Add support for rank-2 arrays to support matrix operations"
I'm wondering what it would take to support matrix operations on 2D arrays, as HNX currently uses this extensively. I would like to contribute this but would like to know where I should begin.

The message for constructing arrays seem to be implemented here

https://github.com/mhmerrill/arkouda/blob/b2a9f42b43dbbc770ac41b931336b18c6b79dd1c/GenSymIO.chpl#L8

It seems all `SymEntry` types are consid

[2019-04-23 18:26] brendapraggastis opened #41 "Benchmarks for arkouda vs numpy performance"
@mhmerrill Do you have or could you generate benchmarks indicating the performance improvement that arkouda provides over numpy?

[2019-04-23 19:48] #20 closed, assigned to reuster986

[2019-04-24 12:33] LouisJenkinsCS opened #42 "Make 'pdarray' extend 'ndarray'?"
I'm wondering whether or not `pdarray` should extend `nparray` so that any code checking to see if the type of an argument is a `ndarray` or not?

[2019-04-24 13:53] mhmerrill opened #43 "optimize ak.in1d()"
optimize ak.in1d for cases when the second pdarray is much smaller than the first pdarray.

[2019-04-24 13:58] #10 closed, assigned to nobody

[2019-04-25 15:25] #43 closed, assigned to nobody

[2019-04-25 15:30] #26 closed, assigned to mhmerrill

[2019-04-25 15:33] #15 closed, assigned to nobody

[2019-04-25 16:49] #25 closed, assigned to mhmerrill

[2019-04-26 17:06] #19 closed, assigned to reuster986

[2019-04-26 17:13] reuster986 opened #45 "IO features and fixes"
Add features:
* print dataset names from HDF5 file (issue #23 )
* ability to save a pdarray to HDF5 file(s). I'm thinking the options will be: save to one big file or write one file per locale.
* convenience function for re-loading a previously saved pdarray from HDF5

Bug fix: still some unhandled errors with file existence/permissions

[2019-05-09 15:49] #45 closed, assigned to reuster986

[2019-05-13 20:45] reuster986 opened #47 "fix boolean binop return types"
return types should mirror those of numpy

[2019-05-13 20:49] reuster986 opened #48 "integer indexing of pdarrays should accept numpy scalars"
This should be made to work:
[code]

[2019-05-13 20:56] reuster986 opened #49 "fix bug in read_all"
Should treat str argument as glob expression, like `read_hdf`.

[2019-05-13 21:03] reuster986 opened #50 "make ak.histogram return same as np.histogram?"
It would be nice to write
[code]
where `bins` and `counts` are returned as numpy arrays by default, not pdarrays. Then it is simple to plot the histogram with matplotlib:
[code]

There could be a keyword argument that tells arkouda to return pdarrays instead of numpy arrays.

[2019-05-14 20:32] reuster986 opened #51 "add where() function"
[code]
and vector-scalar hybrids. Callable from python as `c = ak.where(cond, a, b)`.

[2019-05-15 20:21] #47 closed, assigned to reuster986

[2019-05-16 13:53] #51 closed, assigned to reuster986

[2019-05-17 21:19] #48 closed, assigned to reuster986

[2019-05-17 21:19] #49 closed, assigned to reuster986

[2019-05-17 22:35] reuster986 opened #54 "add __pow__ method"
We should only worry about the binary version.
* `int ** int` returns `int` if exponent is non-negative, `float` if negative.
* if base or exponent is `float`, return `float`
* `bool` as base is a no-op
* `bool` as exponent equivalent to `where(exponent, base, 1)`

[2019-05-21 16:26] reuster986 opened #55 "groupby"
Implement grouping and grouped reductions, a la `pandas.groupby().aggregate()`. On the python side, this would look like
[code]
Under the hood, `grouped` would be a new python class with attributes:
* `key_array` (pdarray): reference to the original array used to define the grouping
* `permutation` (pdarray): the result of calling `key_array.argsort()`
* `segments` (pdarray): the offsets in `permu

[2019-05-29 20:16] #23 closed, assigned to reuster986

[2019-06-06 19:58] reuster986 opened #60 "Add basic authentication"
Currently, a running arkouda server can be hijacked by anyone on the system that knows the hostname and port. We should implement some sort of authentication, either via a password or a token. My vote is for a token, because it's what Jupyter uses, and it's less of a burden on the user.

`arkouda_server.chpl` should:
* generate a cryptographically secure random token (probably with `Crypto.CryptoB

[2019-06-06 20:10] reuster986 opened #61 "Add chapel-side function to read multiple HDF5 datasets"
Currently, the way to read multiple datasets from a collection of HDF5 files is to call `ak.read_all()`, which issues a `readhdf` message for each dataset. The problem with this approach is that, if the user passes a glob expression for the `filenames` argument, then each chapel-side `readhdfMsg` call evaluates the glob for itself, and if new files get added in the meantime, the resulting arrays w

[2019-06-06 20:27] reuster986 opened #62 "Consolidate thresholds for data structure selection"
There are a few places in the code (e.g. argsort, unique) where we compute some statistic of the data and compare it to a hard-coded threshold to choose a data structure (e.g. dense histogram vs. associative array). I'm thinking we should:
* define these thresholds in a separate module (like ServerConfig)
* define them in more intuitive terms, like "max amount of scratch memory to use per locale",

[2019-06-06 20:39] #55 closed, assigned to reuster986, mhmerrill

[2019-06-10 13:57] reuster986 opened #64 "Efficient strategy for ak.in1d() with large set"
Current strategy for `ak.in1d(A, B)` is basically:
[code]
This is the best strategy for small B, but doesn't scale to large B. The strategy numpy uses for large B is essentially (pseudocode):
[code]
This could be done on a per-locale basis.

Another way would be to convert B to a lock-free associative domain, and then do
[code]

[2019-06-20 02:26] #64 closed, assigned to nobody

[2019-06-20 02:27] #50 closed, assigned to reuster986

[2019-06-23 02:29] reuster986 opened #65 "min scan bug"
It seems like there might be a bug in `min scan`. I tested with this code:
[code]

compiled with
[code]

and got
[code]

Output of `max scan` is also weird.

[2019-07-02 16:59] #65 closed, assigned to nobody

[2019-07-13 15:48] LouisJenkinsCS opened #67 "CHGL Integration"
Currently, there is a prototype that follows very closely with how Arkouda implements their `pdarray` and their server. This proof of concept, I believe, demonstrates the kind of functionality CHGL would require.

https://github.com/pnnl/chgl/blob/master/src/CHGL-Client.py

https://github.com/pnnl/chgl/blob/master/src/CHGL-Server.chpl

I would like to direct further updates towards building alongs

[2019-07-30 13:51] ZhuangZzzi opened #72 "Value checks for division by and negative exponents in pow"
-when base array is of type int, and exponent contains an el <0, we need to catch this.
fix this code: https://github.com/mhmerrill/arkouda/blob/9150fdd42fda293f9dab90f54d7b002b0aaa57f7/OperatorMsg.chpl#L130-L133

-check divisions by 0
and this: https://github.com/mhmerrill/arkouda/blob/9150fdd42fda293f9dab90f54d7b002b0aaa57f7/OperatorMsg.chpl#L154-L161

[2019-08-01 17:24] ZhuangZzzi opened #74 "Zero Raised to Negative Number"
Say you have array a = [0,1,2] and b = [-2,-2,-2]
In Python, you perform a**=b
The resulting array is [inf, 0.5,0.25]

Python would seem to allow for this behavior by not throwing an error, but returning "inf". However, in our OperatorMsg.chpl we don't allow division by zero.

We can either leave it be, or add an || reduce to see if any element is 0, and || reduce to see if any element is negative

[2019-08-01 17:40] ZhuangZzzi opened #75 "Int Raised to Negative Number"
binopvv Int ** Int currently checks to see if anything in r.a is <0

when "starstar" {
                        if || reduce (r.a<0){
                            //instead of error, could we paste the below code but of type float?
                            return "Error: Attempt to exponentiate base of type Int64 to negative exponent";
                        }
                        st.addEntry

[2019-08-21 17:09] mhmerrill opened #89 "Better document how to run tests"
test needs a README.md to show how to run tests

[2019-08-21 17:11] mhmerrill opened #90 "Need python3 tests to check arkouda against numpy/pandas"
Enhancements to consider:
 * adding more sanity checks to the `check.py`
 * creating a new randomized test for some feature
 * others kinds... use your imagination ;-)

[2019-08-24 06:12] bradcray opened #92 "Two efuncMsg()s?"
Hi Arkoudans —

While looking through source tonight, I noticed that there are two implementions of `efuncMsg()` that appear to be potential duplicates, one in EfuncMsg.chpl, the other in MsgProcessing.chpl.  I didn't look much further than that but wanted to mention it before forgetting in case it's an oversight.

[2019-09-06 20:30] reuster986 opened #94 "LSD Radix Sort"
@mhmerrill has a distributed LSD radix sort on the refactor-modules branch in toys/RadixSortLSD.chpl that is really fast. In order to get this into master, we should:
* comb through it to eliminate unnecessary memory usage
* generalize it to work on tuples of ints and expose python function for multi-column argsort
* generalize to real dtypes
* define good tests on generated and live data

[2019-09-06 20:35] reuster986 opened #95 "Unique cleanup"
There are a lot of places in the codebase that find the unique elements (or number of unique elements) in an array, representing a lot of duplicate and near-duplicate code (see UniqueMsg and ReductionMsg). Once #94 is resolved and we have a really fast sort, we should consolidate all these instances and refactor them to use a common unique function based on sort.

Along the way, it would not be to

[2019-09-06 20:39] reuster986 opened #96 "Array set ops module"
Once #94 and #95 are resolved and we have fast sort and unique, we can implement a lot of set operations on pdarrays in the style of numpy.
* intersection
* union
* difference
* symmetric difference
* (move isin and in1d to this module)

[2019-09-06 20:41] reuster986 opened #97 "Improvements to groupby"
Desired functionality:
* Ability to groupby multiple keys (requires multi-column argsort from #94)
* get_group(key) function that returns the segment corresponding to a key
* expand(vals) function that takes an array of one value per segment and returns a segmented array with each key's segment set to the corresponding value

[2019-09-06 20:46] reuster986 opened #98 "Track symbol table in python"
Store a module-level dictionary that tracks pdarrays
* key: python name of array
* val: (server-side name, size, dtype, ...)

User may have to call a function to scrape the python names.

[2019-09-06 20:47] reuster986 opened #99 "add __len__ method to pdarray"

[2019-09-06 20:48] reuster986 opened #100 "add message to get server info"
Query arkouda server for number of locales, number of cores, amount of memory, arkouda version number, etc.

[2019-09-06 20:51] reuster986 opened #101 "add reattach() function to python"
Add a python function `pda = ak.reattach(name)` that will recreate the pdarray instance in python for an existing array in the server. This is useful for when the Jupyter kernel dies but the server stays running, in which case you want to re-populate your python namespace without redoing the chapel computations.

[2019-09-18 14:20] reuster986 opened #113 "Benchmarks"
Create and populate a `benchmarks` directory for performance testing of arkouda. The benchmarks should be python programs that connect to an already-running arkouda server, compute a result, and print out the execution time. Command line invocation should look like
[code]
where `hostname` and `port` refer to the arkouda server, and `parameters` define things like the problem size and data distribu

[2019-09-20 19:46] bradcray opened #114 "Replace explicit `pn` (procedure name) variables with new Reflection feature(s)"
For your consideration:  While looking through Arkouda this month, I noticed the convention of using `pn` variables to store procedure names for use in generating messages and strings and the like.   In Chapel 1.20, there are new features in the `Reflection` module that support querying the filename, line number, routine (procedure or iterator) name, or module name of a given line of source, and I

[2019-09-20 20:10] mhmerrill opened #116 "update README.md to reflect Arkouda/Chapel 1.20 build procedures"

[2019-09-20 20:13] mhmerrill opened #117 "define private config consts for some modules"
do this for modules:
RadixSortLsd.chpl
others?

I think this takes the form on the command line of...

[code]

[2019-09-21 16:15] #94 closed, assigned to reuster986, mhmerrill

[2019-09-21 16:16] #92 closed, assigned to mhmerrill

[2019-09-21 16:17] #72 closed, assigned to ZhuangZzzi

[2019-09-21 16:18] #95 closed, assigned to reuster986

[2019-09-21 16:19] #54 closed, assigned to reuster986, ZhuangZzzi

[2019-09-21 16:19] #100 closed, assigned to mhmerrill

[2019-09-21 16:21] #74 closed, assigned to nobody

[2019-09-21 16:22] #75 closed, assigned to nobody

[2019-09-21 16:26] #42 closed, assigned to nobody

[2019-09-21 16:28] mhmerrill opened #119 "add profiling/logging functionality to arkouda"
So we can do data science on our users...
there are two ways to get information by,
 * enhancing arkouda.py to keep track on the python side
 * enhancing arkouda_server.chpl to keep track on the chapel side

[2019-09-25 20:02] reuster986 opened #121 "ak.array() uses too much memory"
The function ak.array(a) first converts a to a numpy array, then serializes it to chapel. When a is already a numpy array, it still calls np.array(a), which can up-cast the dtype and blow up memory if a is large. The solution is to test whether a is a numpy array to begin with, and leave it alone.

[2019-09-25 20:09] reuster986 opened #122 "Empty pdarrays crash certain ops"
Users report GroupBy() and/or GroupBy.aggregate() with zero-length pdarrays crash the server. We should probably test all functions with empty pdarrays, just to be safe.

[2019-09-26 18:56] #113 closed, assigned to nobody

[2019-09-26 23:37] #122 closed, assigned to nobody

[2019-09-26 23:37] #99 closed, assigned to nobody

[2019-09-26 23:49] #62 closed, assigned to nobody

[2019-09-27 13:12] #121 closed, assigned to reuster986

[2019-10-04 14:53] reuster986 opened #128 "Add test for negative values to argsort unit test"
Currently, UnitTestArgSortMsg.chpl only tests positive int64 and positive float64. We should add a case for mixed int64 and mixed float64.

[2019-10-09 23:04] BryantLam opened #133 "docs: Combine the outputs from chpldoc and pydoc?"
Today, there are two documentation sources that get built: the server documentation with `chpldoc` and the Python frontend documentation with `sphinx-build`.

**Do we want to unify these multiple sources into one documentation source?**

After some experimentation, this is one approach to combine the outputs from chpldoc and pydoc into one documentation source:
1. Generate server documentation wit

[2019-10-15 19:06] reuster986 opened #138 "fix assignment with bool pdarray indices"
We would like to support the following behavior (currently the assignments give errors):

[code]

The current code for `a[pdarray] = int` and `a[pdarray] = pdarray` assume that the index array is `int64`, so we just need to handle the `bool` case.

[2019-10-16 14:42] #12 closed, assigned to nobody

[2019-10-17 02:30] mhmerrill opened #141 "did you mean to pass ddof through to variance"
I was looking through the doc-fix branch...
@reuster986 did you mean to pass ```ddof``` through ```std()``` to ```var()``` ?
https://github.com/mhmerrill/arkouda/blob/a87ddeed12f928b0248c986666f1e5bba8e81817/arkouda.py#L2021

[2019-10-17 11:49] #141 closed, assigned to nobody

[2019-10-18 16:29] #8 closed, assigned to mhmerrill

[2019-10-18 21:12] reuster986 opened #144 "Fix doc-python build process"
* Add dependencies:
  * `sphinx`
  * `sphinx-argparse`
  * `sphinx_rtd_theme`
  * `sphinxcontrib.chapeldomain`
* Change 2 `autofunction` to `automethod` in `pydoc/usage/IO.rst`
* Add `master_doc = 'index'` to `pydoc/conf.py`

[2019-10-19 19:12] #96 closed, assigned to mhmerrill

[2019-10-21 16:48] #138 closed

[2019-10-21 16:50] #119 closed

[2019-10-21 16:52] mhmerrill opened #146 "Figure out how to use GitHub Pages for arkouda"

[2019-10-21 16:55] mhmerrill opened #147 "Include a copy of arkouda documentation in the repo or not?"

[2019-10-21 16:56] mhmerrill opened #148 "Need better way to include Jupyter notebooks in repo"

[2019-10-21 17:15] mhmerrill opened #149 "Make a GitHub organization for the arkouda project"

[2019-10-21 17:35] mhmerrill opened #150 "Arkouda server version is out of date need a better way for this to be tracked automatically maybe?"

[2019-10-22 14:49] reuster986 commented on #150
One option, listed [here](https://packaging.python.org/guides/single-sourcing-package-version/) as choice 4, is to have a `VERSION` file in the top level directory that all code (e.g. `setup.py` and `arkouda_server.chpl`) reads from. I think I like this option the best, because it is language-agnostic.

However, we also need to choose a versioning scheme. Right now, we have a hybrid of semantic ve

[2019-10-22 15:01] BryantLam commented on #150
Semantic versioning does allow "whatever you want" if the Major Version  is less than 1.

Between semantic versioning and date-based, I'm okay with either. There are benefits for both.

[2019-10-23 16:05] #116 closed

[2019-10-25 15:10] mhmerrill opened #154 "make the arkouda_server more robust to running out of memory"
Outline of what I think needs to be addressed to make the server more robust:
 * construct a `proc estFreeMem(): int` to return an estimate of remaining memory which could be allocated
 * for each message processing `proc fooMsg()` construct a proc to estimate the storage consumed during the operation based on the arguments and the algorithm to be used
 * for each message processing `proc fooMsg()

[2019-10-25 21:56] mhmerrill opened #155 "add ak.sort() to sort values in a pdarray"
We already have a `radixSortLSD_keys()` on the server side.
This is just adding:
 * adding the python side `ak.sort()` function
 * server message processing `SortMsg.chpl` module and `proc sortMsg()`

[2019-10-26 16:06] mhmerrill commented on #114
I have made a new branch to address this called `use-reflection-getroutinename`

[2019-10-29 16:37] ronawho opened #162 "Sort performance thoughts"
Misc thoughts and suggestions for improving the performance of sort.

The current sort implementation is limited by the speed of unorderedCopy. A majority of the time is spent putting elements into their correct position during the "calc new positions and permute" step, and if there are negative values reordering at the end.

Here's the microbenchmark I've been using to evaluate performance. It me

[2019-10-29 17:44] #144 closed

[2019-10-29 20:53] #114 closed

[2019-10-29 21:01] bradcray commented on #154
I don't know whether you're familiar with the Chapel memory module, but some of its routines _may_ be helpful here:  https://chapel-lang.org/docs/modules/standard/Memory.html#Memory.locale.physicalMemory

Note that while in HPC-world we're used to only dealing with physical memory, but in a portable setting, users may be more willing to use virtual memory as well.

@gbtitus, @ronawho: Related to t

[2019-10-29 21:13] bradcray opened #163 "Extend getConfigName to support all locales"
As I understand it, the original intention of getConfig() was to collect a certain amount of configuration information from each of the locales, not just the 0th.  However, when this was first tried, the conversion to json failed.  The goal of this task would be to have the uncommented version of the following lines work s.t. the configuration of the entire set of locales can be captured:

https:/

[2019-10-29 21:16] gbtitus commented on #154
There is not.  We could add one, but we'd have to iterate on it to get it right.  The answer is easy if we're using a fixed heap, but that's not terribly common.  Otherwise, without registered memory we could check a variety of sources (system memory, `getrlimit()`, etc.) and find the most limiting value.  But with registered memory on an XC, depending on circumstances there are a number of things

[2019-10-29 21:20] bradcray opened #164 "Make getting the host name more elegant"
The following Arkouda code is an admittedly clunky way of getting the hostname of locale 0:

https://github.com/mhmerrill/arkouda/blob/a99a38e525f591615043c5e0db184d5a1943cfb2/src/ServerConfig.chpl#L41-L54

Some ways to improve this:

* read directly from the spawned command's stdout?
* call out to an extern C routine that returns the hostname?
* introduce a Chapel library routine that returns a n

[2019-10-29 21:23] gbtitus commented on #154
Does this issue at all provide any support for adding a feature to throw an error when an allocation fails, rather than killing the process?  Perhaps in specific circumstances?  We have talked now and then about doing this and always concluded that in general it seemed difficult because basically any expression and even many statements in Chapel can allocate.  But perhaps a restricted solution wou

[2019-10-29 21:30] gbtitus commented on #164
Use `gethostname(3)` instead.  It's POSIX standard and works even on a Mac.

[2019-10-29 21:46] gbtitus commented on #164
If the fully qualified name is required we'd probably need to call out to C code that would do a `getaddrinfo(3)` call starting with the value of `SLURM_NODENAME` and go from there as needed.

[2019-10-29 21:48] bradcray commented on #164
No fair giving a C solution without providing the Chapel code to wrap it!  :)

But...

yeah, I think the fully qualified name probably is required in order for the client to find the server...

[2019-10-29 21:57] gbtitus commented on #164
If the hostname in question is a compute node on an XC and you only need to be able to get to it from a system login node it seems to work in at least one case - I just tried it on an internal system with `srun hostname` and then `ping <whatThatSaid>`.  So that might be a start.

But if you need to get to it from anywhere else, including even an elogin for that same system, then yeah, it seems you

[2019-10-29 21:58] bradcray commented on #164
Oh, cool, I think that probably is sufficient.  Meanwhile, over on chat, I'm being told that Locales[0].name is almost certain to give the same thing as any other hostname-getting machinery, so maybe I should've stuck with my original instinct to begin with...

[2019-10-29 22:34] gbtitus commented on #164
I said:

After thinking about it a bit more I suspect that at least for a Cray XC or similar system, one just might not be able to get directly to a compute from other than a system login node.  Certainly just adding an `.X.Y.Z` suffix to the name wouldn't suffice, since the compute node names are only unique within the system.  Across systems they're the same.  So for connections from other than

[2019-10-30 01:22] bradcray opened #168 "Create some arkouda coding standards around whitespace"
As I edit arkouda code, something I'm tripping over regularly relates to differences in whitespace:

* tabs vs. spaces to indent code
* the number of spaces to use when indenting a new block of code
* what sort of end-of-line terminator is used (e.g., LF vs. CR types of issues)

Most editors can be configured to support variations on the above, and I think it'd be helpful to developers to establis

[2019-10-30 02:15] mhmerrill commented on #168
i am ok to outlaw TABs, I use 4-space indents which is what 95% of the arkouda code uses. Bill seems to use 2-space indents sometimes and I re-indent things as I edit them. I also like UNIX style EOLs.

[2019-10-30 13:29] reuster986 commented on #168
Yeah, let's outlaw TABs and enforce UNIX EOLs. Like Brad, I prefer 2-space
indents, but when I am editing Mike's code I sometimes try to respect his
4-space indents, even though it hurts.

On Tue, Oct 29, 2019 at 10:15 PM Michael Merrill <notifications@github.com>
wrote:

[2019-10-30 21:05] bradcray opened #169 "Switch MultiTypeSymbolTable from associative domain/array to map (?)"
This issue captures a notion to replace the use of an associative domain and array pair in MultiTypeSymbolTable.chpl to a map (new in Chapel 1.20's standard library) since that's the basic pattern being used.  This seems like it would simplify the code and also support a non-nilable element type; however, in trying to do so today, I'm running into fragilities in the map type when the valueType is

[2019-10-30 21:48] bradcray opened #170 "Convert MultiTypeSymbolTable.chpl from `shared` to `owned`"
I think that the current use of `shared` in `MultiTypeSymbolTable.chpl` is arguably overkill given the current usage patterns of its SymEntries and that the `owned` pattern probably makes more sense.  This issue's intention is to capture the notion of rewriting MultiTypeSymbolTable to use `owned` and `borrowed` rather than `shared` and `borrowed`.

[2019-10-30 21:51] bradcray commented on #169
My start at this is here:

https://github.com/bradcray/arkouda/tree/arkouda-nilable-with-map

However, I'm running into lifetime issues in trying to use the map type, as reported in https://github.com/chapel-lang/chapel/issues/14370

I think switching from `shared` to `owned` (issue #170) could help with the lifetime issues, but then would run into other fragile interactions between owned and nila

[2019-10-31 00:02] bradcray commented on #168
I think we have some scripts in Chapel to enforce the "no TABs" rule.  I can refresh my memory how that's done to see whether it could be re-used for Arkouda if that would be of interest.  In the meantime, I'll stop worrying about preserving them when I come across them (emacs users can avoid having them be inserted by dropping:

[code]

into their `.emacs` file.

[2019-10-31 00:40] reuster986 commented on #168
Ooo, thanks for the incantation.

On Wed, Oct 30, 2019, 8:03 PM Brad Chamberlain <notifications@github.com>
wrote:

[2019-10-31 17:02] bradcray commented on #168
Refreshing my memory about what we do to keep ourselves honest in our code base, I don't think we have anything so readily adoptable that you couldn't just as easily build it yourself.  In our repo, we've got a script, [`lookForTabs`](https://github.com/chapel-lang/chapel/blob/master/util/devel/lookForTabs) that essentially `git grep`s sources of interest for tabs.  There are a number of ways such

[2019-11-01 16:05] #163 closed

[2019-11-01 17:06] #164 closed

[2019-11-01 18:21] mhmerrill opened #174 "add `==` operator for bool"
add `pda1 == pda2` operator for `ak.bool` `pdarray`s

[2019-11-01 21:07] bradcray opened #176 "Convert MultiTypeSymbolTable from storing nilable objects to non-nilable"
This issue notes that the current symbol table stores `SymEntry?` entries when it seems as though it could/should store (non-nilable) `SymEntry` entries instead.  We should convert to the non-nilable version to reduce the need for nil checks altogether.  This can be done at present, but only by abusing the language as noted in https://github.com/chapel-lang/chapel/issues/14367.

This issue also re

[2019-11-04 00:28] mhmerrill commented on #170
@bradcray originally the intention of using `shared` in the symbol table was that multiple symbols could reference the same `GenSymEntry`.
I should probably move a discussion of this into another place on the repo.
The way things turned out...
 1. using Python3 as the front-end language uses references exclusively, might not be true for other potential front-end languages like Julia or Ruby.
 2. a

[2019-11-04 00:50] mhmerrill commented on #168
I also would like to propose that we don't use single statement Chapel forms like `then` and `do`. This has tripped me up several times creating several hard-to-find subtle bugs. Also the emacs chapel-mode is quirky with indenting `then` sometimes as well as other things.

In my opinion it is just as easy to use `if expr {stmt;}` as `if expr then stmt;`

[2019-11-04 17:25] mhmerrill commented on #170
@reuster986 @bradcray @BryantLam We have also been discussing how to preserve symbol table entries across python-side problems. I have been thinking of putting in a hook `ak.register(pda,"name-ref")` which would associate a user defined name `"name-ref"` in the symbol table to the entry thus bumping the `shared` count and allowing the user to reconnect a python-side variable i.e. `pda = ak.referen

[2019-11-04 17:42] bradcray commented on #170
This pattern seems like it could be expressed by having the symboltable store the `owned` class objects and then have other references `borrowed` versions of that owned class.

On the other hand, this type of pattern could be a good reason to keep it `shared`.

I should note that I'm not at all insistent that this change be made; I was just thinking it seemed plausible, but then in trying it, ran

[2019-11-04 20:49] ronawho commented on #162
Aggregation:
===

I have some prototype aggregation work on a [branch](https://github.com/ronawho/arkouda/tree/aggregation) that has promising performance, especially for non-cray networks. On a Cray-XC, performance is ~2x better than unorderedCopy at 16 nodes and on par at 256 nodes. On an InfiniBand and Ethernet cluster, performance is hundreds of times faster. There is a high memory overhead si

[2019-11-05 02:02] mhmerrill commented on #170
I think with the discussion this issue was worth it. I am going to close it for now.

[2019-11-05 02:02] #170 closed

[2019-11-05 03:43] mhmerrill commented on #174
I am closing this because PR #178 adds this feature and it tests correctly.

[2019-11-05 03:43] #174 closed

[2019-11-05 14:52] mhmerrill commented on #150
I believe this is addressed by #175

[2019-11-05 14:52] #150 closed

[2019-11-05 15:30] mhmerrill opened #179 "Translate setops into chapel server side operations"
Currently pdarray set operations like `ak.union1d()` consist of 5-12 seperate server operations.  Making the various set operations into single server side operations would provide significant speed improvement.

[2019-11-05 15:33] mhmerrill opened #180 "allow negative index to pdarray"
Allow `pda[-1]` indexing backwards from the end of a pdarray

[2019-11-06 14:51] cdrickett commented on #155
I would like to take a look at this issue to familiarize myself with Chapel and Arkouda.

[2019-11-06 18:04] mhmerrill commented on #155
@cdrickett That's great. if you need any pointers don't hesitate to ask. Also be sure to look at the docs on contributing to arkouda. (this is under arkouda/doc/python directory after you `make doc`)

[2019-11-07 00:10] reuster986 commented on #162
@ronawho this looks extremely promising! The sort is so critical to high-level arkouda operations that I think bringing infiniband performance in line with aries will really boost the viability of arkouda as a multi-platform tool. Do you see any downside to merging this branch in as it stands?

[2019-11-07 00:11] reuster986 commented on #162
@ronawho thanks so much for your effort on this, by the way!!!

[2019-11-07 00:40] ronawho commented on #162
I was planning on doing some more tuning to see if we can reduce the amount of memory overhead and improve scalability a little more, but I'm hoping I could have something ready to merge within a week.

Currently, each task uses ~1M*numLocales space. For a 512 node job with 40 cores per node that's ~20 GB of memory for aggregation buffers, which seemed excessive to me.

[2019-11-07 00:52] reuster986 commented on #162
Understood. I suppose that's not a trivial amount of memory, but worth the sacrifice if necessary, in my opinion. But if you can reduce that, go for it!

FWIW, 1/50 of system memory is probably a pretty good estimate for the array sizes we're working with.

[2019-11-07 00:58] mhmerrill commented on #162
There is probably a interplay/balance between bitsPerDigit and aggregation. I also think we should be able to reduce the memory footprint. I may be wrong but we can discuss it tomorrow in person.

[2019-11-07 03:38] reuster986 opened #182 "problems with hashing strings"
I need advice from a Chapel guru. I am trying to implement a string dtype on this [branch](https://github.com/mhmerrill/arkouda/tree/string-dtype). I'm almost there, but I am failing on GroupBy, which I am trying to implement by hashing all the strings (with a uniform hash, md5, that has sufficient bits to statistically guarantee no collisions) and then sorting the hashes. I am using a test progra

[2019-11-07 20:56] mhmerrill commented on #101
@reuster986 I would like your thoughts on this...
 1. What if we would like to share the same arrays between Jupyter notebooks or python scripts?
 1. Is this needed for intermediate results of mostly to save on reading arrays again from the filesystem?
 1. Should we make the array immutable when it is registered? Some users have stated this desire to keep themselves from overwriting the array and

[2019-11-07 21:39] mhmerrill opened #184 "fix division and modulus operators to behave just like numpy with respect to divide by zero"
1. Currently the `operator_test.py` catches 18 errors where arkouda `pdarrays` don't behave like numpy `ndarrays`.
1. These all seem to involve `//`,`/`, and `%` operators and dividing by zero.
1. Arkouda currently throws a runtime exception on divide by zero which numpy doesn't seem to do.
1. In numpy it appears that you can control this behavior with `numpy.seterr(divide='ignore')` which seems t

[2019-11-08 17:30] ronawho commented on #162
Just a heads up that my current plan is to get a PR open in the next few days that enables aggregation for non-Aries networks. This should provide immediate benefits to configurations that are currently unusably slow, while still allowing me time to tune the implementation before enabling it for Aries.

I expect I'll use smaller buffers than what I used for the initial experiments, so performance

[2019-11-12 13:46] reuster986 commented on #101
@mhmerrill I have been thinking about this proposal, and I am somewhat ambivalent about taking this path. On the one hand, there is clear value in allowing users to save potentially lots of load time by re-using other people's data. On the other hand, this capability would break the "one server, one user" model, which is the cornerstone of our access control right now, i.e. the client's privileges

[2019-11-12 15:49] ben-albrecht commented on #41
Not sure if this is the right place to post this, but here are some other projects that could be interesting to compare against eventually:

- https://github.com/dask/dask
- https://github.com/apache/spark
- https://github.com/modin-project/modin

[2019-11-12 16:47] reuster986 commented on #155
Closed by #186

[2019-11-12 16:47] #155 closed

[2019-11-12 16:50] reuster986 commented on #182
This is a known [issue](https://github.com/chapel-lang/chapel/issues/11366) in the Crypto module with thread-safety. I will need to wait for the issue to resolve or work around it, probably by implementing a more lightweight, non-cryptographic hash like murmurhash3.

[2019-11-12 16:50] #182 closed

[2019-11-12 21:48] mhmerrill commented on #184
@bradcray @mppf @ronawho I would like to get the Chapel code to behave like numpy in the divide-by-zero case. I think the default for numpy is to return `inf` (infinite).

[2019-11-12 22:13] mhmerrill commented on #184
truediv
np.int64(0) / np.int64(0) = nan
np.int64(1) / np.int64(0) = inf
floordiv
np.int64(0) // np.int64(0) = 0
np.int64(1) // np.int64(0) = 0

[2019-11-12 22:35] bradcray commented on #184
@mhmerrill: For the truediv cases, I think what you're seeing is consistent with (my understanding) of IEEE floating point given that Python defines division between two integers as being a float. In contrast, Chapel preserves the integer nature, as in C and as discussed a bit on https://github.com/chapel-lang/chapel/issues/14306

[This TIO session](https://tio.run/##dY5BCsIwEEX3OcXQldk4ybbBw4SS2o

[2019-11-13 23:04] bradcray commented on #41
Also:
* [NVIDIA's Legate](https://research.nvidia.com/sites/default/files/pubs/2019-11_Legate-NumPy%3A-Accelerated//legate-preprint.pdf)

[2019-11-13 23:57] imdavis commented on #41
[Intel Python](https://software.intel.com/en-us/distribution-for-python) has a parallel version with MKL as the backend. I've never used this distribution of Python and I've only ever used the MKL as SMP. The [downloads page](https://software.intel.com/en-us/distribution-for-python/choose-download) says that tbb and mpi4py are "parallelism" options. [This presentation](https://www.intel.com/conten

[2019-11-14 00:24] bradcray commented on #41
This sounds to me like it's putting all of the burden back on the programmer for distributed memory runs, by forcing them back into an MPI-oriented world.  I.e., I'm not convinced it provides the productivity lift that Arkouda is for the Python programmer, nor the distributed computing productivity benefits that Chapel does.

[2019-11-14 01:37] mhmerrill commented on #184
PR #187 fixes this issue ;-)

[2019-11-14 01:37] #184 closed

[2019-11-14 02:13] mhmerrill commented on #154
I am thinking about adding a memory limit `config const perLocaleMemLimit` so we can set a limit memory usage to not exceed during server operations.

[2019-11-14 10:25] ronawho opened #191 "Client is hanging after ak.shutdown in travis"
Some of the travis runs have been hanging and "failing" because `No output has been received in the last 10m0s`. e.g. https://travis-ci.com/mhmerrill/arkouda/builds/136443517

These builds are actually running successfully, but the client is hanging on shutdown. I think this is a side effect of the base image being debian 9.5 with python 3.5 which forces us to use `--ignore-requires-python`. I can

[2019-11-15 13:03] mhmerrill commented on #154
I hooked the `st.addEntry()` procedure to catch most simple allocations into the symbol table. This should catch all the simple cases like binary operators and things that only allocate one new `pdarray`

[2019-11-15 19:20] mhmerrill opened #193 "IO module error when compiling arkouda_server on mem-usage branch"
[code]

[2019-11-15 19:53] ronawho commented on #154
There is a runtime call `chpl_comm_regMemHeapInfo` that would give you the fixed heap size if there is one. If there is no fixed heap size (using dynamic registration or comm=none, size will be 0.)

You could do something like:

[code]

You should also be aware that functions like `memoryUsed()` require throwing `--memTracking`, which is very expensive. This has a huge impact on allocation time be

[2019-11-15 19:59] ben-albrecht commented on #193
This was fixed when the FCF in this line was switched to an actual function call:

[code]

https://github.com/mhmerrill/arkouda/commit/d2470b87bf74ff8299a1d7350d311a12579b55b9#diff-d820aff4080e76d27fcb36eac3f18fb5R121

I am not able to find a small reproducer though. Here's my latest attempt:

[code]

[2019-11-15 20:02] ben-albrecht commented on #193
I'd like to find a reproducer for this strange error message, and file an issue in chapel-lang/chapel at some point.

[2019-11-15 20:51] mhmerrill commented on #154
@ronawho we are only checking `memoryUsed()` on allocation of a new symbol table entry and once at the beginning of some of the message processing functions like `ArgsortMsg()` which use large amounts of memory. In the mem-usage branch the server must be run with `--memTrack=true` to activate the feature.

[2019-11-15 21:17] mhmerrill commented on #154
so I ran the arkouda benchmarks against the server with `--memTrack=true` and without. The performance results looked very close. There may be an impact of `--memTrack=true` but it does not show up in the benchmarks.

[2019-11-15 22:25] ronawho commented on #154
Hmm, ok. For occasional, non-concurrent large allocations the cost might not be terrible, but we've seen over a 100x overhead for benchmarks that do concurrent allocation

[2019-11-16 03:06] bradcray commented on #193
I filed a bug against this at the Chapel repository:  https://github.com/chapel-lang/chapel/issues/14467  I think we could close this one in favor of that one if @mhmerrill agrees.

[2019-11-16 03:46] mhmerrill commented on #193
closed in favor of chapel issue.

[2019-11-16 03:46] #193 closed

[2019-11-16 05:29] #191 closed

[2019-11-18 21:40] mhmerrill commented on #162
@ronawho I think we should also use the optimizations from the sort in the `IndexingMsg.chpl` module for gathers and scatters. I currently have the gathers and scatters in that module using `unorderedCopy()`.

[2019-11-18 21:44] mhmerrill commented on #33
I think I have now removes all the easy cases of making extra array copies. with PR #195

[2019-11-18 21:44] #33 closed

[2019-11-27 14:28] jwcrandall opened #199 "Increase log file precision on function time stamp and function delta"
Increase log file precision on function time stamp and function delta that gets printed to an arkouda log file.

[2019-11-27 15:45] mhmerrill commented on #199
fixed this with PR #200

[2019-12-02 15:46] reuster986 opened #201 "remove NotImplemented"
A couple places (e.g.  [here](https://github.com/mhmerrill/arkouda/blob/e1df53466f5948726103e112f9a77392f6091d53/arkouda/pdarrayclass.py#L111)) in the python client return `NotImplemented`, which is a python pass-through that allows implementers to integrate new classes with existing python classes. However, we should not be using it, because nothing else knows about the `pdarray` class. Instead,

[2019-12-09 21:22] mhmerrill commented on #201
fixed with PR #203

[2019-12-09 21:22] #201 closed

[2019-12-09 21:22] #199 closed

[2019-12-09 21:26] mhmerrill commented on #168
After reading the Python PEP-8 coding standards, I think we should stick/adopt as close to these as possible even for the Chapel code.  PEP-8 is here: https://www.python.org/dev/peps/pep-0008/

[2019-12-09 21:42] mhmerrill opened #210 "use aggregation for gather and scatter indexing patterns"
modify `IndexingMsg.chpl` to use `CommAggregation.chpl` module in addition to `unorderedCopy`

[2019-12-09 21:46] mhmerrill commented on #210
https://github.com/mhmerrill/arkouda/blob/e314d80b463b2dd0e19bb9964c83d1b0f896567e/src/IndexingMsg.chpl#L72-L80

[2019-12-09 21:52] mhmerrill commented on #210
pda[int64] gather indexing with an int64 index-vector(called `iv` in the code)
https://github.com/mhmerrill/arkouda/blob/e314d80b463b2dd0e19bb9964c83d1b0f896567e/src/IndexingMsg.chpl#L114-L129
pda[bool] compression indexing with a bool index-vector(called `truth` in the code)
https://github.com/mhmerrill/arkouda/blob/e314d80b463b2dd0e19bb9964c83d1b0f896567e/src/IndexingMsg.chpl#L132-L146

[2019-12-09 22:06] mhmerrill commented on #210
pda[[int64]] = val scatter indexing using a [int64] index-vector
https://github.com/mhmerrill/arkouda/blob/e314d80b463b2dd0e19bb9964c83d1b0f896567e/src/IndexingMsg.chpl#L263-L280
pda[[bool]] = val expansion indexing using a [bool] index-vector
https://github.com/mhmerrill/arkouda/blob/e314d80b463b2dd0e19bb9964c83d1b0f896567e/src/IndexingMsg.chpl#L283-L297

[2019-12-09 22:11] mhmerrill commented on #210
pda1[[int64] = pda2 scatter indexing using a [int64] index-vector
https://github.com/mhmerrill/arkouda/blob/e314d80b463b2dd0e19bb9964c83d1b0f896567e/src/IndexingMsg.chpl#L342-L358
pda1[[bool]] = pda2 expansion indexing using a [bool] index-vector
https://github.com/mhmerrill/arkouda/blob/e314d80b463b2dd0e19bb9964c83d1b0f896567e/src/IndexingMsg.chpl#L361-L377

[2019-12-09 23:02] mhmerrill opened #211 "implement join-on-eq between int64 arrays"
We need to implement a simple join between two int64 arrays to allow for multi-hop graph simple pattern match.

server message will look something like:
join-eq (result-limit) (pda1,...) (pda2,...) (scalars) (where-clause)
 * (result-limit) => number of results to allocate space for and potentially return
 * (pda1,...) => first pda to join on and other pda parallel to pda1
 * (pda2,...) => second

[2019-12-10 03:01] ronawho commented on #210
@mhmerrill I have a start on this at https://github.com/mhmerrill/arkouda/compare/master...ronawho:aggregate-IndexingMsg

With this `argsort.py --scale-by-locales`, `gather.py`, and `scatter.py` benchmarks all finish in under 60s on InfiniBand  (I gave up running them after 15 minutes before)

I need to aggregate the bool cases and tune for ugni, but that should be pretty straightforward.

[2019-12-10 15:45] mhmerrill commented on #211
**Sketch of general strategy to follow:**

[code]

[2019-12-10 19:56] mhmerrill commented on #210
@ronawho I noticed a slight typo in line 78 (I can't link it for some reason) you are using `a.a` instead of `aa` which you should be using.

[2019-12-10 20:25] ronawho commented on #210
Ah, good catch -- I must have started with the out-of-date commented out line.

[2019-12-10 21:04] mhmerrill opened #214 "some chapel unit tests need to be fixed to use exception handling"
some chapel unit tests no longer compile

[2019-12-11 01:17] ronawho commented on #162
Captured in https://github.com/mhmerrill/arkouda/issues/210

[2019-12-11 01:26] ronawho opened #217 "Extend CI testing"
Improve/extend CI testing:
 - [x] Run checks.py again
   - [x] Run for macos testing (disabled in https://github.com/mhmerrill/arkouda/pull/300 because of infrastructure instability.)
   - [x] Run for linux testing  (waiting on chapel folks to get docker image with new enough python.)
 - [x] Add gasnet testing
 - [x] Run chapel unit tests (either with start_test or mason) (infra added in https://g

[2019-12-11 04:06] #154 closed

[2019-12-11 04:08] #14 closed

[2019-12-11 04:09] #9 closed

[2019-12-11 04:09] #17 closed

[2019-12-11 18:08] #210 closed

[2019-12-11 18:58] ronawho opened #222 "Convert remaining uses of unorderedCopy to aggregation"
Aggregation has significantly better performance on non-cray networks. We should remove the remaining uses of unorderedCopy (and look for plain assignments that could be aggregated.)

[2019-12-11 20:15] mhmerrill commented on #222
@ronawho these occurrences on ArgSortMsg.chpl should be replaced.
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/ArgSortMsg.chpl#L376
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/ArgSortMsg.chpl#L384
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/ArgSortMsg.chpl#L392
https://gi

[2019-12-11 20:22] mhmerrill commented on #222
these occurrences in FindSegments.chpl should be converted to aggregation.
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/FindSegmentsMsg.chpl#L96
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/FindSegmentsMsg.chpl#L142
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/FindSegmentsM

[2019-12-11 20:25] mhmerrill commented on #222
there is a question I have about FindSegments.chpl, would unorderedCopy/Aggregation help with the two commented-out lines? Scattering a `true` into a block distributed bool array.
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/FindSegmentsMsg.chpl#L195
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/FindSegmentsMsg.chpl

[2019-12-11 20:33] mhmerrill commented on #222
@reuster986 does this occurrence have to do with string IO?

GenSymIO.chpl occurrence:
https://github.com/mhmerrill/arkouda/blob/9712f3608ba20b7d69f7f1ab51927d3413f01d3b/src/GenSymIO.chpl#L310

[2019-12-11 20:46] reuster986 commented on #222
@mhmerrill yes, this occurence and the function containing it are necessary because segmented strings are stored in HDF5 as an array of offsets and an array of bytes, but the offsets are not absolute offsets, they are offsets relative to the start of the file. To form an array of strings from multiple files, it is necessary to translate those per-file relative offsets into absolute offsets for the

[2019-12-11 21:58] reuster986 opened #226 "Implement != for strings"
I just forgot to do this in the big PR. Actually, there is an opportunity for code consolidation here with FindSegmentsMsg.chpl:114 or thereabouts.

[2019-12-11 22:03] reuster986 opened #227 "Add tests for operator bugs that users discovered"
* `scalar < pdarray` triggers iteration
* `pdarray and pdarray` does something wacky, should raise `TypeError`, e.g. inside a `pdarray.__bool__()` method.
* `ak.zeros([1, 2, 3, 4], dtype=int64)` crashes the server:

[code]

[2019-12-12 00:07] mhmerrill commented on #222
looks like we should also fix the ones in:
SegStringSort.chpl
SegmentedArray.chpl
Unique.chpl

[2019-12-12 00:59] mhmerrill commented on #227
looks like we need to put in a
[code]
to emulate NumPy
[code]

[2019-12-12 15:38] mhmerrill commented on #227
PR #228 addresses my comment about the Python ValueError.

[2019-12-12 15:40] mhmerrill opened #229 "fix bool(pda) behavior"
add `pdarray.__bool__()` method to reproduce NumPy behavior.

[2019-12-12 15:41] mhmerrill commented on #229
looks like we need to put in a
[code]

to emulate NumPy
[code]

[2019-12-12 15:41] mhmerrill commented on #229
this is addressed by PR #228

[2019-12-12 15:49] mhmerrill opened #230 "fix pip3 install arkouda for installs with zmq and hdf5 already installed in non-standard places"
fix pip3 install arkouda for installs with zmq and hdf5 already installed in non-standard places.

I am having trouble with `pip3 install -e .` on our IB cluster where we have libraries installed not installed by `pip3`

Currently, we need to pip re-install when we rev the version number which we should also fix and detangle these issues.

@reuster986 @Spartee you guys should look at this.

[2019-12-12 20:16] reuster986 commented on #230
@mhmerrill this is a pretty thorny issue, and I'm not sure exactly what to do. I propose that we support two official ways of installing arkouda:

* User mode
  * For non-developers who just want server and client to install with one command
  * Syntax: `pip install arkouda`
  * Status: almost done
    * Works on mac
    * On linux, fails to build `arkouda_server` because it can't find zmq or hdf5

[2019-12-12 21:05] mhmerrill commented on #230
@ronawho proposed a fix for me which works for me.
[code]

[2019-12-12 21:26] mhmerrill commented on #211
I am thinking we should make the expressions to interpret simple lisp-like expressions:
[code]
this should make it easier to parse and interpret.

[2019-12-13 01:01] bradcray commented on #211
Talking about this a bit with Mike today about the "permit the user to write a general where-clause function" challenge, my head went toward an approach in which the where-clause function would be:
* written in, or compiled down to C
* wrapped in a .so
* dynamically loaded into the arkouda server
* invoked through an external C function pointer

I'm not certain that this would work, and I think th

[2019-12-13 18:44] mhmerrill opened #236 "bool concatenate bug"
These three lines produce the segfault when run on 2 or 32 locales on our XC (arkouda v 2019.12.10):
[code]
There is no segfault if you remove the "+ 1"s in the array sizes.
The int and real arrays don't segfault and it's the same code just with different types.

[2019-12-13 18:46] mhmerrill commented on #236
it appears to be a bug with indexing BlockDist bool arrays:
https://github.com/mhmerrill/arkouda/blob/a2e6288092512af808f7e3fcfd144d1d6de74b70/src/ConcatenateMsg.chpl#L82-L98

[2019-12-13 18:59] mhmerrill commented on #236
I tried to reproduce it on our IB cluster and it didn't segfault.

[2019-12-13 19:17] bradcray commented on #236
I suspect that whatever the bug is, it isn't specific to booleans, so much as it's only getting revealed in the boolean case because it's not a 64-bit type.

[2019-12-13 19:59] mhmerrill commented on #211
I think I am going to back off from arbitrary code for the `where-clause` in the sort term.
At least to start we will define a couple of pre-defined predicates, something like:
[code]

[2019-12-13 20:53] ronawho commented on #162
Optimized sorting negative values in https://github.com/mhmerrill/arkouda/pull/232

Enabled and optimized aggregation in https://github.com/mhmerrill/arkouda/pull/185 and https://github.com/mhmerrill/arkouda/pull/209

[2019-12-13 20:53] #162 closed

[2019-12-13 21:08] mppf commented on #211
You might have the "where clause" simply point to one of a library of predicates known to Arkouda (I think that's one way of viewing what you posted in the last comment).

I think it's notionally possible to move a Python expression to the compute nodes and run it in a Python interpreter on the compute node.

It's also possible to consider having support for an `eval` in Chapel code that accepts a

[2019-12-13 23:41] e-kayrakli commented on #236
The PR github auto-ref'd above should fix the issue (https://github.com/chapel-lang/chapel/pull/14652)

[2019-12-16 15:35] ronawho commented on #236
This is a bug in the ugni comm layer for code that handles GETs where the source, target, or length isn't 4-byte aligned (which is required by the Aries NIC.) This works for ints/reals since the size ends up being 4-byte aligned, and it works for similar reasons without the `+1`

Since this is a runtime change, I don't think we have any great options for getting you a fix with the 1.20 release. I

[2019-12-16 16:04] gbtitus commented on #211
By now it seems this is probably beyond-topic, but just as a note for the future ...

When you get around to supporting dynamically executing arbitrary code compiled just-in-time during execution, don't create a shared object on the client side and drop it on Lustre for the server nodes to `dlopen()`.  That won't scale, because of hot-spotting Lustre.  Instead, send the contents of the shared obje

[2019-12-16 17:03] ronawho opened #237 "Improve aggregation ease of use"
The aggregation interface is relatively simple, but it requires using task-intents to create a per-task aggregator. There are also distinct src/dst (GET/PUT) aggregators. It would be great to have a single aggregator instead of having to hardcode src/dst. Distinct aggregators were originally done to reduce memory overhead so we only have buffers for the type of aggregation. i.e. I didn't want to a

[2019-12-16 20:17] bradcray commented on #236
@mhmerrill: If you'd like us to make a 1.20.x bug fix release for this, let us know.  If you're in a scenario where you can rebuild 1.20 from source, we could also supply a patch to apply to incorporate the fix.

[2019-12-17 23:20] ronawho opened #239 "checks.py can fail because of floating point precision"
On some multi-locale systems `checks.py` (specifically `check_linspace`) fails for me because of slight floating point differences.

Instead of using array equality checks, something like [`numpy.allclose`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.allclose.html)/[`numpy.isclose`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.isclose.html) might be more appropriate.

[2019-12-18 02:27] mhmerrill commented on #239
ok, i'll fix the linspace test.

[2019-12-18 02:51] #239 closed

[2019-12-18 03:24] ronawho commented on #168
https://github.com/mhmerrill/arkouda/pull/240 adds checks for tabs in Chapel files to the CI testing.

We can almost certainly add a CI job to run flake8, pylint, or whatever your favorite linter/style-checker is for the python code.

[2019-12-19 20:33] reuster986 opened #244 "Fix argsort for strings"
There is a bug here:

https://github.com/mhmerrill/arkouda/blob/7cced72d9452b7f04d1988f43a1c3a4a83381e6b/arkouda/sorting.py#L41

`Strings` objects don't have a `name`. When `pda` is `Strings`, this code should compose the name by `+` joining the segments name and the values name.

[2019-12-20 13:23] reuster986 commented on #230
I believe #233 fixes this.

[2019-12-20 13:23] #230 closed

[2019-12-20 13:23] #229 closed

[2019-12-20 23:05] #244 closed

[2019-12-23 20:18] reuster986 commented on #97
I'm leaning towards calling the `expand` function `broadcast`. In NumPy, "broadcasting" means "taking a lower-dimensional object and replicating it to fill the shape of a higher-dimensional object". For example, NumPy lets you add an `n`-long column vector to an `n x m` matrix by replicating the vector `m` times into an `n x m` matrix where each row is constant. If you view a GroupBy as a sparse m

[2019-12-23 20:32] reuster986 commented on #97
The `get_group()` method should maybe just be the `__getitem__()` method of a `GroupBy` class, and it should do a gather of all the values in the indexed segments, returning a new `GroupBy` object.

[2019-12-23 20:45] reuster986 commented on #97
A common usage pattern with `GroupBy` is to group by `n` levels to dedupe entries, and then group the resulting `unique_keys` by the first `n-1` levels to get the desired `GroupBy` object. An example is constructing a graph, where one would first do `u, v = GroupBy(src, dst).unique_keys` to unique the edges, then `csr = GroupBy(u)` to form the compressed sparse row representation of the adjacency

[2019-12-23 21:53] mhmerrill commented on #97
there is a `isSorted` check already in place
https://github.com/mhmerrill/arkouda/blob/d9882d50f8853ec4f2a2e304daf7d1aba1decb09/src/RadixSortLSD.chpl#L117-L123

[2019-12-23 22:10] reuster986 commented on #97
That's good, but I think that only applies to `argsort`, not `coargsort`.

[2019-12-23 23:40] mhmerrill commented on #97
Any calls to sort ranks or keys will get checked. So I think coargsort is included.

[2019-12-26 14:09] #227 closed

[2019-12-26 15:20] reuster986 commented on #128
I think this was thoroughly resolved by the tests @ronawho added (I can't find the PR number right now)

[2019-12-26 15:20] #128 closed

[2019-12-26 17:25] reuster986 opened #250 "Aggregation with loop-private variables?"
@ronawho I'm not sure if this is a bug to fix or just a pitfall that I need to learn how to avaoid, but aggregators don't seem to play well with variables created inside a `forall`. For example, this code does not correctly copy `A` to `B`:

[code]

Each task's chunk of `B` ends up filled with a constant value (the last value in that task's chunk of `A`).

The `SegString` gather code stumbles over

[2019-12-28 01:35] ronawho commented on #250
The `SrcAggregator` aggregates the source and destination addresses. In this case you're aggregating the address of the variable `a`, not the address of `A[i]`. When the aggregator is flushed it copies the current value of `a` to all the destination addresses.

I think what you'd want here is `agg.copy(b, A[i]);` or `ref a = A[i]; agg.copy(b, a);`

Not that `var a = A[i]` is effectively `var a = G

[2019-12-28 01:52] ronawho commented on #128
https://github.com/mhmerrill/arkouda/pull/207 added the standalone Chapel sorting test.

[2020-01-03 20:43] ronawho commented on #41
In case others are curious about concrete numbers, here are some results I gathered for arkouda vs. numpy for the tests in the benchmark directory. I ran all the benchmarks with the default problem size, which uses ~3/4 GB arrays.

The benchmarks have a `--numpy` option, but normally the arkouda server would still be running so there could be some interference for the numpy results. To make sure I

[2020-01-06 15:30] ronawho commented on #211
I agree that it makes the most sense to have a couple of pre-defined predicates to start.

For extending to arbitrary expressions, one option would be to embed a python interpreter, which looks pretty straightforward: https://docs.python.org/3.8/extending/embedding.html. If the speed of the where clause evaluation is important you might need to go down the compiled route, but compiling and dynamic

[2020-01-06 22:03] mhmerrill commented on #211
I have a prototype lisp expression interpreter which allows for evaluation in a `forall` across parallel array elements. I'm still not satisfied with the approach to **linkage** with chapel program variables.
https://github.com/mhmerrill/arkouda/blob/LisExpr-toy/toys/LisExpr.chpl

I am planning to batch locally, say 100 or 1000 at a time and `fetch-and-add` instead.

I have not promised determinis

[2020-01-16 15:01] ben-albrecht commented on #41
[Rapids](https://rapids.ai/) is another overlapping project which utilizes GPU-accelerated numpy + distribution via Dask.

[2020-01-16 15:24] awthomp commented on #41
@datametrician, @kkraus14, and I would be happy to help with this comparison

[2020-01-17 16:41] reuster986 opened #258 "aggregation bug"
This should be a DstAggregator, not a SrcAggregator, I think:

https://github.com/mhmerrill/arkouda/blob/844d2d33e7e30881469b16725dd50c856d884848/src/ReductionMsg.chpl#L1011

[2020-01-21 20:03] mhmerrill commented on #258
@ronawho could you comment on this?

[2020-01-21 21:01] awthomp opened #262 "Expand Arkouda Installation Documentation for Ubuntu, GPU, and Anaconda Users"
When working on enabling GPU support with https://github.com/mhmerrill/arkouda/pull/248, I was able to build both Chapel and Arkouda on my Ubuntu 18.04 system and created an Anaconda environment for easy and isolated dev/testing. In the near term, I plan on:

- [ ] Document building Chapel in Ubuntu, including setting up the correct environment variables
- [ ] Create an Anaconda yml environment fi

[2020-01-21 21:27] ronawho commented on #258
Whoops. Yeah the destination is remote, so that should be a DstAggregator. I opened https://github.com/mhmerrill/arkouda/issues/258 for this.

[2020-01-21 22:19] #258 closed

[2020-01-23 14:19] LattigLT opened #266 "SipHash underperforming"
The current implementation of [SipHash](https://github.com/mhmerrill/arkouda/blob/master/src/SipHash.chpl) found in arkouda takes ~6.5 seconds to hash 1,000,000 bytes on a 16-core, 2.5 GHz Haswell processor. By way of comparison, hashing a million integers with Python3 (which uses SipHash) on the same hardware takes ~.23 seconds.

Note: I specified integers because I haven't taken a good look at h

[2020-01-23 19:28] ronawho commented on #266
@LattigLT can you share the test/benchmark you were using to compare performance?

[2020-01-23 20:36] reuster986 commented on #266
@ronawho I believe the Chapel benchmark was https://github.com/mhmerrill/arkouda/blob/master/test/SipHashSpeedTest.chpl

I haven't personally seen the python benchmark code, but from what he described, I believe it was something like:
[code]

[2020-01-23 21:11] mhmerrill commented on #266
@ronawho here is the GitHub project for SipHash https://github.com/veorq/SipHash
i haven't found a performance benchmark or expectations yet.

[2020-01-23 22:30] ronawho commented on #266
@reuster986 Thanks, I'm using SipHashSpeedTest.chpl to start investigating. Do you have a rate you're expecting/hoping for. I see ~10MB/s per core, but I have no sense for whether that's good or bad.

[2020-01-24 23:56] reuster986 commented on #266
See [here](https://github.com/mhmerrill/arkouda/blob/sip-hash-rate/tests/python_hash_rate.py) for a python test. Here's what I get on my laptop (1.87GHz haswell):

[code]

As opposed to the Chapel version (using single core for comparison):

[code]

So the Python is about 10x faster, even with the overhead of objects and list traversal. From the back-of-the-envelope calculation by @LattigLT , I wo

[2020-01-25 16:33] ronawho commented on #266
Thanks -- that was really helpful. I have a [branch](https://github.com/mhmerrill/arkouda/compare/master...ronawho:opt-siphash) that gets serial  performance from ~8 MB/s to ~150 MB/s. It's getting around 3,200 MB/s on a 24 core machine, so core scalability looks pretty good.

The main change is to avoid domain creation and slices, both of which involve memory allocation. Both of these operations

[2020-01-26 03:00] ronawho commented on #266
And extern'ing out to the [C reference](https://github.com/veorq/SipHash/blob/master/siphash.c) you ported  I see around 225 MB/s. So there's either some more performance we could squeeze out of the Chapel port, or we could call the C version (looks like it's public domain). Let me know if you have any preferences for which direction you want to go.

[2020-01-27 15:02] reuster986 commented on #266
@ronawho this is amazing! I didn't realize domain creation and slicing was so debilitating in an inner loop like that. Makes me wonder where else I've been using it.

Regarding whether to use the externed C or the native Chapel: does the C version require Chapel built with LLVM? Because I would rather avoid that dependency, if possible... I would also be curious to know what modifications would br

[2020-01-27 16:09] ronawho commented on #266
Extern'ing to C would not require llvm. llvm is only required for the extern-block feature, and here we'd just be using Chapel's normal interop features. Here's my prototype branch for that: https://github.com/ronawho/arkouda/commit/86bb20e73dc6c118579102ce75bbfdb0afc3bb11

I can play with the Chapel version for an other hour or so and see if I can close the gap. If we can get the performance clos

[2020-01-27 18:15] mhmerrill commented on #266
I'd like to see Chapel version perform close to the C as possible. Unless this causes some large amount of work on your part.

[2020-01-27 18:18] mhmerrill opened #268 "zero length pdarray as index into another pdarray crashes server"
a = ak.array([])
a[a>5]   (crashes server)

We suspect this is a problem with __get_item__ when the selector is a zero length array. So

a[ak.array([])] and, even more fun, a[a] should crash it too.

[2020-01-27 18:23] mhmerrill commented on #236
@BryantLam @bradcray we are currently working around this bug on the Cray XC in the python code. I would like @BryantLam to weigh-in on the difficulty of applying the patch to the Cray XC build of Chapel. i believe that this bug only effects the Cray XC (based on ugni comm layer) install of Chapel.

[2020-01-27 21:45] bradcray commented on #236
That's correct that it's only a bug/fix for XC (and XE) due to its ugni-based nature.

-Brad

[2020-01-27 22:16] ronawho commented on #266
Ok, sounds good. I'll push on the Chapel version.

[2020-01-28 07:29] bradcray commented on #236
(As mentioned [above](https://github.com/mhmerrill/arkouda/issues/236#issuecomment-566225028), we could also roll out a bug fix release for this if that would be helpful).

[2020-01-28 13:04] #226 closed

[2020-01-28 20:54] mhmerrill commented on #222
I am going to close this issue because I think we addressed it with #235

[2020-01-28 21:01] ronawho commented on #222
There's a couple places that remain (marked TODO in the code) in https://github.com/mhmerrill/arkouda/pull/235

[2020-01-29 19:07] ronawho commented on #266
@reuster986 pulled in my initial optimizations and made some others in https://github.com/mhmerrill/arkouda/pull/269. I now see ~190 MB/s serial performance on master (bumping the problem size by 100x to get more stable results):

<details>

$ git rev-parse --short HEAD
63e2428

$ chpl test/SipHashSpeedTest.chpl -M src/ --fast
$ ./SipHashSpeedTest -nl 1 --NINPUTS=100_000_000 --INPUTSIZE=8 --dataPa

[2020-01-29 20:46] ronawho commented on #266
I have some more experiments in https://github.com/mhmerrill/arkouda/compare/master...ronawho:more-opt-sip-hash. A lot of this is really getting into the weeds, and these are not typically optimizations you have to think about for HPC kernels or longer function calls. To some degree optimizing a hash function is about figuring out how you get the compiler to generate the exact assembly you want. A

[2020-01-29 21:33] reuster986 commented on #266
@ronawho impressive!

Our current use case requires us to hash roughly 500 GB of data at "interactive speed" using ~1200 cores. If everything were blocked uniformly as in `SipHashSpeedTest.chpl`, and assuming perfect multi-locale scaling at the rates you're seeing, the hashing would take about 3 seconds. This would be sufficiently fast if we could achieve it, but the chunks of data we're hashing v

[2020-01-29 22:16] mhmerrill commented on #211
initial implementation in PR #270

[2020-01-30 03:34] ronawho commented on #266
Yeah, it would be great to have a realistic benchmark, but the sizes you mentioned also make me think some more optimization of hashing is likely to be worthwhile. A single chunk spanning a locale boundary does make optimization trickier since we need some of the locality checks that make array access more expensive, but we should be able to do something still.

There's some Chapel 2.0 tasks I nee

[2020-01-30 21:49] mhmerrill commented on #236
This bug has also showed up now with our Arkouda Strings support.

[2020-02-01 15:28] reuster986 commented on #250
I'm going to close this because there is nothing to be done except learn from the experience.

[2020-02-01 15:28] #250 closed

[2020-02-01 17:24] reuster986 opened #271 ""memory regions" on XC"
@bradcray and @ronawho , occasionally when I run arkouda on a Cray XC, it crashes with an error like

warning: no more registered memory region table entries (max is 4096). Change using CHPL_RT_COMM_UGNI_MAX_MEM_REGIONS.
<internal>: error: Out of memory allocating "tasking layer unspecified data"

If I crank that environment variable up to 65536, the same computation seems to run fine. Is there a

[2020-02-01 17:53] ronawho commented on #271
tl;dr: If increasing it seems to work for you, there's no major downside for the types of comm patterns arkouda has. node size / hugepage size is the most memory regions you could ever need. So for instance on 256 GB nodes with 16M hugepages, 16384 is the most you could ever need.

The downside of increasing the value is that there is a numLocales*max_regions memory footprint per locale and there

[2020-02-01 18:17] reuster986 commented on #271
Thanks @ronawho , good to know! I will close this since it does not require a change to arkouda.

[2020-02-01 18:17] #271 closed

[2020-02-01 18:25] reuster986 opened #272 "Split strategy for string gather"
Testing on Cray XC, the code prior to [this commit](https://github.com/mhmerrill/arkouda/commit/84914416ea7a5417396ca63e0edd892683d2c50a) is much faster on ugni than the current version. However, the current version is best for non-ugni because it uses aggregation. I want to make this code select the correct path based on `CHPL_COMM`.

[2020-02-01 18:33] ronawho commented on #271
Sure thing. Do you know what node size / hugepages are being used?

[2020-02-01 18:50] reuster986 commented on #271
256 GB nodes with 16 M hugepages. I think I'll just set it to 16384 memory regions.

[2020-02-01 19:36] ronawho commented on #271
Sounds good. I'll open a Chapel issue for bumping it on our end.

If you have a reproducer for this, would you mind sending it my way? I would expect arkouda to be using a fair number of large arrays, so I'm a little surprised that you ran out of descriptors with 16M hugepages. I wouldn't mind digging a little further just for my own peace of mind. (It could also indicate there's a lot of non-larg

[2020-02-01 19:49] reuster986 commented on #271
Sorry, I just logged out, but I'm pretty sure I was running things like

[code]

and it was throwing the error before it finished generated the random strings, I believe. I can get you a more precise reproducer on Monday, if needed.

[2020-02-03 13:58] gnat79 opened #273 "uncaught IllegalArgumentError crashes arkouda server"
I accidentally used ak.read_hdf on a single file with multiple datasets, and it crashes the server instead of raising an exception.

Example:
        ak.read_hdf(['dataset1', 'dataset2'], "some_file.hdf")

[2020-02-03 19:21] gnat79 opened #274 "__str__() and __repr__() fail for arkouda.Strings with spaces in a string"
A simple example:
x = ak.array(['a b'])
x.__str__()  raises ValueError: too many values to unpack (expected 2)
See line 16 in pdarrayclass.py
x.__repr__() has the same behavior

[2020-02-03 19:23] gnat79 commented on #274
The double underscores got auto-formatted out of my code in the example above.

[2020-02-04 12:44] ronawho commented on #266
I have a cleaner version that should be correct even when some msg's are spread across 2 nodes: https://github.com/mhmerrill/arkouda/compare/master...ronawho:more-opt-sip-hash-3. It effectively checks if D.low and D.high are local, and if so uses c_ptr, otherwise it falls back to the current implementation.

I think it's still worth tuning on a more realistic benchmark, but the results for SipHash

[2020-02-04 14:27] reuster986 commented on #266
@ronawho I just committed a more realistic test to the [sip-hash-rate](https://github.com/mhmerrill/arkouda/tree/sip-hash-rate) branch. With `--LENGTHS=variable`, the `SipHashSpeedTest` now generates blocks with log-normally distributed sizes, which should better reflect real use cases. In this mode, it interprets `INPUTSIZE` as the mean block length. Example run on my laptop:

[code]

So far, on

[2020-02-04 15:52] ronawho commented on #266
Hmm. Single node performance looks good to me, but I'm seeing 2 issues for multi-locale:
 - The [length calculation](https://github.com/mhmerrill/arkouda/commit/78034798501e4a437bfa4963e71e6112848c21b2#diff-ede60e3358ec7fb00e0ad06f6cba096bR38-R40) seems pretty slow. What computation is that code doing (maybe what would the loop based version of that look like?)
 - There is a ton of comm for the si

[2020-02-04 18:15] reuster986 commented on #266
To the first question, the length code is computing the length of each chunk. `segs` is the starting index for each chunk, so the code is computing the length by taking the difference between the next index and the current index (handling the edge case for the last index). Loop code looks like:

[code]
For the second point, I would say there is significant non-local data, but I would be surprised

[2020-02-04 18:33] mhmerrill commented on #180
I believe this can be closed now, after #249

[2020-02-04 18:33] #180 closed

[2020-02-04 18:58] ronawho commented on #266
Curiously the loop based length calculation is much much faster. 0.035s vs 25.585s for `-nl 32 --NINPUTS=100_000_000 --INPUTSIZE=64`. Something to look at later, but for now I'm just switching to the loop based version.

---

For 4 nodes I see ~70 GB/s for fixed length, ~1 GB/s for variable length (and much worse scaling at 32 nodes).

I see around 7 GB/s for the on-stmt version. Compared to the s

[2020-02-04 19:33] ronawho commented on #266
A different option might be to pad so that all chunks have uniform size, but that is likely to have an unacceptably high memory overhead.

[2020-02-04 20:41] ronawho commented on #237
https://github.com/mhmerrill/arkouda/pull/275#discussion_r374891653 is another place that would benefit from a general CommAggregator

[2020-02-04 21:17] ronawho commented on #266
https://github.com/mhmerrill/arkouda/compare/master...ronawho:more-opt-sip-hash-4 uses bulk comm to GET remote messages instead of getting them element at a time. This has better performance than the on-stmt version, but is still 3.5x slower than the fixed version at 32 nodes:

[code]

This might be ok as a stepping stone if you need better performance soon, but I think the manual coforall will st

[2020-02-07 18:27] gnat79 opened #279 "Server crashes on creating *large* arrays"
There is a (reasonable) upper bound on how large an array arkouda can handle, and exceeding that size causes a crash instead of passing an error to python.  For example,

        x = ak.arange(0, 10**12)

The message returned is something like:
src/MultiTypeSymEntry.chpl:81: error: Out of memory allocating "array elements"

This is with server version 2019.12.12 on a small number of nodes. So it's

[2020-02-07 21:07] mhmerrill commented on #279
FYI, This has already been addressed... @gnat79 use the `--memTrack=true` flag on the server run line, maybe @reuster986 should enable it by default in out launch script.

[2020-02-07 21:07] #279 closed

[2020-02-07 21:20] gnat79 commented on #279
Okay, thanks!

[2020-02-07 21:29] mhmerrill opened #280 "server crashes on ak.info call if the server symbol table is empty"
server crashes on `print(ak.info(ak.AllSymbols))` if the symbol table in the server is empty. to make this happen start a server, connect the client then immediately execute the command above.

[2020-02-07 21:39] mhmerrill commented on #280
i think this might be a chapel bug. The server is crashing in these lines
https://github.com/mhmerrill/arkouda/blob/6d3e760d7ef9c4f83c5e8d73e4dfb03235647625/src/MultiTypeSymbolTable.chpl#L194-L200

seems like the `for` loop on line 195 should not run if the domain is empty.

[2020-02-07 23:33] bradcray commented on #280
I'm trying to reproduce this, but haven't been successful yet (though I am seeing a different behavior that's surprising to me — an uncaught exception leading to an "out of memory" style error).

I'm using Chapel 1.20 on a Mac, Arkouda at `SHA 6d3e760d7ef9c4f83c5e8d73e4dfb03235647625` and the following Python program:

[code]

The output I get is:

[code]

which makes it look as though the "info"

[2020-02-08 00:32] bradcray commented on #280
I'm seeing the same OOM error on my Mac when using Chapel master.

If I go back to Arkouda SHA f273852 things seem to work OK.  If I go to SHA db73b4b, they break again.  This suggests PR #260 is at fault.

@e-kayrakli how soon would you be able to take a look?  (as noted above, I wonder whether memory corruption is at fault, but haven't had a chance to look into that at all yet).

[2020-02-08 09:09] e-kayrakli commented on #280
Reading the issue, I don't have an immediate reaction that I am confident enough to speculate. I'll have more to say on Monday.

[2020-02-10 14:08] #61 closed

[2020-02-11 20:27] #272 closed

[2020-02-11 20:44] reuster986 commented on #266
@ronawho I think it's worth making a PR with what you have now. I will then be able to take some measurements and talk to users to see if diving into the manual coforall is worthwhile.

[2020-02-11 21:16] #280 closed

[2020-02-12 15:26] ronawho commented on #266
Sounds good. I will clean up that branch a bit and PR.

---

The length calculation being slow is a bit subtle, so I wanted to call out the reason. The problem is that in SipHashSpeedTest, the calculation uses local domains: https://github.com/mhmerrill/arkouda/blob/5e1581a48e7a1eadb85059d437c276b51e2e5b2c/test/SipHashSpeedTest.chpl#L38-L40

Since https://github.com/chapel-lang/chapel/pull/12931,

[2020-02-12 17:25] reuster986 commented on #266
Wow, that domain slicing is a real doozie. We use it all over the arkouda codebase (although I'm not sure how much of it is non-local), and I had no idea it was so bad. Thanks for pointing this out!

[2020-02-12 17:33] reuster986 opened #286 "Eliminate domain slices"
@ronawho recently [pointed out](https://github.com/mhmerrill/arkouda/issues/266#issuecomment-585259473) that the domain slicing idiom `a[{i..j}]` is really bad because it forces everything onto locale 0. We should elimnate this pattern from the arkouda codebase. Hopefully we can find everything by searching for `[{` in the code.

---

The length calculation being slow is a bit subtle, so I wanted

[2020-02-12 17:56] ronawho commented on #286
@bradcray is the expert here, and will likely have more to say.

For the original SipHash context, you are operating on all of the elements of the distributed array, but part of the motivation for chapel-lang/chapel#12931 is when you're only operating on a subset of the elements. For instance something like: `arr[{D.low..D.low+10}] = arr[{D.high-10..D.high}];` will be much faster than creating new

[2020-02-12 20:48] bradcray commented on #266
This makes me want to cry (the state of things, not what you said :) ).  I was on a tear to make Chapel slicing much cheaper awhile back, but then had to put it aside to work on Chapel 2.0 issues and other "distractions."

Speaking of that effort, @ronawho, did you try getting timings with the chpl_serializeSlices flag (which you may remember made many cases much better, but a few a bit worse, so

[2020-02-12 20:55] ronawho commented on #266
`-schpl_serializeSlices` doesn't help, in this case because it still results in a local domain driving the main loop and you really want it to be distributed. i.e. for

[code]

you really want that iteration to be distributed.

[2020-02-12 21:00] bradcray commented on #266
Got it, thanks for clarifying (I've only given this the most cursory look so far).

[2020-02-12 22:35] ronawho commented on #266
With https://github.com/mhmerrill/arkouda/pull/287 in, here is my current understanding/summary:
  - initially, local serial performance was ~8 MB/s, it is now ~250 MB/s for 8-byte messages and ~2 GB/s for 1024-byte messages. This is on par with the C reference you ported from, so I'm happy with that.
 - initially, distributed performance was pretty bad. I think it is now near optimal for fixed si

[2020-02-13 16:01] #273 closed

[2020-02-13 16:02] #274 closed

[2020-02-13 16:36] mhmerrill opened #288 "writing command start time to log was inadvertently removed in PR #260"
writing command start time to log was inadvertently removed in PR #260

[2020-02-13 17:38] mhmerrill commented on #101
provided initial support in PR #290

[2020-02-13 18:13] #288 closed

[2020-02-14 19:56] mhmerrill commented on #268
I tracked this down to using a zero-length index vector with a zero-length array. The other cases I tried using various combos of zero-length and non-zero-length arrays worked or raised exceptions.

[2020-02-14 20:40] mhmerrill commented on #268
https://github.com/mhmerrill/arkouda/tree/fix-zero-length-gather-scatter

[2020-02-18 14:26] gnat79 opened #292 "ak.arange(start, stop, stride) should accept all int types"
For example, sometimes I would like to create an array with code similar to this:

        x = ak.array([1,5,7,3,4,9])
        size = x.size
        ak.arange(x.max(), x.max() + size, 1)

which fails as x.max() is type ak.int64

I get a TypeError in the above example. Using server version 2020.02.04

[2020-02-19 15:04] mhmerrill commented on #268
PR #293 fixes this.

[2020-02-19 16:07] mhmerrill commented on #292
@reuster986 We have several places in the code which test for `isinstance(obj, int)` and `np.isscalar(obj)`. `np.isscalar(obj)` is not recognizing that `ak.int64` is a comparable type.

[2020-02-20 14:18] #268 closed

[2020-02-20 16:14] jwcrandall commented on #169
@bradcray Is it possible to work on #176 while you are working on #169 ?

[2020-02-20 17:46] bradcray commented on #169
Yeah, that was my hope—to tackle both at once.  I'm not actively working on either of these at the present, though.

[2020-02-20 18:04] jwcrandall commented on #169
Ok, I going to try to understand #176 .

[2020-02-20 18:09] bradcray commented on #169
Ah, I think I misunderstood and was asking whether I could work on #176 while doing #169 (but re-reading, I interpret it as you being interested in working on it).

I think it would be challenging to crack #176 until Chapel's maps improve further.  For example, [this issue](https://github.com/chapel-lang/chapel/issues/14861) is currently actively being worked on the Chapel side, and my understandi

[2020-02-20 18:22] jwcrandall commented on #169
Ok, I will follow the progress of https://github.com/chapel-lang/chapel/issues/14861

[2020-02-20 21:46] mhmerrill opened #294 "add memory high watermark to server logging"
this should be handled in the `overMemLimit` procedure in the `ServerConfig.chpl`

[2020-02-21 03:35] mhmerrill opened #296 "performance enhancement to coargsort"
We need to take a look at coargsort to see if we can make it go faster.

---

@ronawho edit:

The main optimizations that I can think of are:
 - [x] merge arrays into a single array and call argsort once -- done in https://github.com/mhmerrill/arkouda/pull/330
   - [ ] If merged array is > 32 bytes, call mergedArgsort multiple times instead of falling back to argsort multiple times on each array.

[2020-02-21 03:39] mhmerrill opened #297 "performance enhancement to join"
related to the performance of issue #211

[2020-02-21 13:15] mhmerrill commented on #296
@ronawho this one is more straight forward than the join performance issue.

[2020-02-21 13:17] mhmerrill commented on #297
@ronawho I'd like to talk about this and extend this issue with different strategies

[2020-02-21 13:41] ronawho commented on #296
Sounds good. For both of these a standalone Chapel or Arkouda performance test would be really helpful.

[2020-02-21 19:31] bradcray commented on #286
Sorry for the slow reply.  I don't have much to add other than what @ronawho said above, but will maybe restate one thing for emphasis:

For the time being, my guidance as to when to use `A[lo..hi]` vs. `A[{lo..hi}]` would depend on whether `lo..hi` spans most locales (in which case I'd use the former) or just a few (in which case I'd use the latter; I the cases in Arkouda that originally motivate

[2020-02-21 20:21] mhmerrill commented on #296
@ronawho I just wanted to get the issue opened... here is more detail.
I believe I will write a python test/benchmark because the chapel only version might be a real pain to write. This is a case where the message processing logic is not well factored from the incremental sort logic.

The code path starts here:
https://github.com/mhmerrill/arkouda/blob/cf0a92c1e5e19e80c81b1496fcc5a0628ebd82a7/src/

[2020-02-21 20:40] mhmerrill commented on #296
@ronawho I was wrong there is already a chapel test/benchmark code, written by @reuster986
the code is here: https://github.com/mhmerrill/arkouda/blob/master/test/UnitTestArgSortMsg.chpl
the specific code is here:
https://github.com/mhmerrill/arkouda/blob/cf0a92c1e5e19e80c81b1496fcc5a0628ebd82a7/test/UnitTestArgSortMsg.chpl#L90-L134

[2020-02-25 13:58] #294 closed

[2020-02-26 21:44] reuster986 opened #301 "Substring searches give non-deterministic output"
String methods `.contains`, `.startswith`, and `.endswith` are giving non-deterministic answers on large data in multi-locale settings. In `tests/string_test.py` on single-locale, their answers pass the tests. There might be a race condition somewhere.

[2020-02-26 21:48] reuster986 opened #302 "Fix concatenate for strings"
The created object is not always a `pdarray`, so this line needs to be conditioned based on `objtype`:

https://github.com/mhmerrill/arkouda/blob/59da8f05f8dbf71382083964bc1b59ddceedc1ac/arkouda/pdarraysetops.py#L170-L175

[2020-02-26 22:01] reuster986 commented on #301
Actually, `.startswith` is giving deterministic output; it's only the other two that aren't. This might be related to another issue, that the performance of `.contains` and `.endswith` are much slower than `.startswith`. The two functions that are slow and non-deterministic use domain slicing here, while the fast, deterministic one does not:
https://github.com/mhmerrill/arkouda/blob/59da8f05f8dbf7

[2020-02-26 22:40] bradcray commented on #301
There's nothing about slices that would inherently cause a race condition, though races could be written using slices (if, for example, a slice that was being read aliased another slice that was simultaneously being written).  With a quick glance at your code, it doesn't look like that should be the case, though right?  (I'm focusing in particular on the `endsWith` case where I believe `hits` does

[2020-02-27 14:25] gnat79 opened #303 "working with boolean arrays"
Wish list items:

I frequently wish I could broadcast boolean values which I would then use to mask the original array. For example, to select values that occur at least c times, I would do
        val, cnt = GroupBy.count()
which gives me the values, but then I want to broadcast (cnt == c) to create a mask for other arrays. Perhaps there's a simpler way to accomplish this.

I also sometimes find

[2020-02-27 21:44] reuster986 commented on #301
Update: I fixed the non-deterministic output by replacing the domain slicing with calls to `oD.interior`, e.g. in `endsWith`:

[code]

The nondeterministic behavior was that an arkouda command of the form `strings.endswith(substring).sum()`, when executed multiple times in a row, would give slightly different values each time. Not wildly different, but like 0.001% off.

I think you're right that t

[2020-02-27 22:39] bradcray commented on #301
@reuster986: This won't be reassuring, but I can't think of any reason that using the domain slicing calls with interior would help...  those routines are essentially just helpers that create domains the same way you did.  Is the behavior really so night and day that you have great confidence it's gone due to that change?

Given both the original mystery and the new int vs. bool one, I find myself

[2020-02-27 22:40] bradcray commented on #301
(oh, and: If the source of the int vs. bool bug is in the aggregation, I'll probably need @ronawho's help to look into it...)

[2020-02-28 14:31] gnat79 opened #304 "ak.argsort(ak.Strings) is unstable"
Working on large ak.Strings arrays (say, 5 million values), argsort does not always return the same permutation, even when the values in the string are unique.

On smaller arrays argsort appears to be working fine, and I do not have an estimate of what size is needed, or even if size is a significant factor.

[2020-02-28 14:48] gnat79 opened #305 "ak.Strings comparison error"
If `a` and `b` are two equal sized ak.Strings arrays, then `a == b` works fine, but `a != b` causes a ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all().

[2020-02-28 17:04] gnat79 commented on #304
A further behavior I've noticed is that a small percentage of strings are becoming garbled. About half of  the garbled strings have a single character that was garbled to a null byte `\x00`, and about half of them are printable character changes.

For context, on an array of 30 million strings, I found 9 garbles in my most recent test. The number varies, but the order of magnitude is the same.

[2020-03-01 22:54] ronawho commented on #301
@reuster986 is there a full reproducer and do you know what platform(s) you're seeing issues on? (XC, IB cluster, locally, etc) The output of ` printchplenv --anonymize` may be helpful too.

I tried the following on 16 nodes of an XC using arkouda master built with a patched version of 1.20 (1.20 with https://github.com/chapel-lang/chapel/pull/14652 applied):

[code]

I ran a couple dozen times an

[2020-03-02 22:03] reuster986 commented on #301
Sorry for the delay, guys. After much testing, I still have not found a way to reliably reproduce this behavior. I have a script that was consistently giving non-deterministic results from bool gather on a particular 16 nodes of an XC, but then I ran it again an hour later on a different 16-node allocation and everything was correct. On the first allocation where the non-determinism was happening,

[2020-03-02 22:26] ronawho commented on #301
This sounds like it could be a memory corruption issue, similar to the other bug where we might be overwriting memory we shouldn't be. If you can send me a reproducer that sometimes fails I can try a few things/tools to make those types of failures more deterministic.

[2020-03-03 16:41] reuster986 commented on #301
I created a reproducer that sometimes fails on [this branch](https://github.com/mhmerrill/arkouda/tree/bool-gather-reproducer) at `tests/bool_gather.py`. That branch pulls in my latest two PRs to be able to generate arrays of random strings. The default settings do 10 trials, where each trial is a gather of 10**7 bools (from an array of size 10**6). These parameters can be set on the command line.

[2020-03-03 17:20] bradcray commented on #301
Bill, thanks for putting in the effort to create a reproducer.  You mentioned that you hadn't seen this fail on a non-XC system, is that still true?  Have you had the opportunity to try it on an XC system, but using a communication layer other than `ugni` by any chance?  (e.g., gasnet/mpi or gasnet/aries?)

[2020-03-03 17:23] ronawho commented on #301
Thanks, I'll see if I can reproduce the failure.

For future reference here's how I'm building/running:
[code]

I'll start this in a loop and run with some tools that might help identify invalid memory accesses.

Would you mind sending along the output of `printchplenv --anonymize`,  `module list -t`, and `chpl --version` (can be off-list if that's easier)

[2020-03-03 17:58] reuster986 commented on #301
@bradcray I've tested on my laptop and got the normal/correct behavior, but it was with `CHPL_COMM=none`. I have a couple things to do before switching over to `gasnet` on my laptop and testing with that. Meanwhile, I'm building arkouda on an IB cluster to test there.

However, as I'm writing this, I'm realizing that both my laptop and the IB cluster have unpatched Chapel 1.20. Will that matter, o

[2020-03-03 18:01] bradcray commented on #301
Hi @reuster986 —

Now that you've provided a reproducer, it's probably easier for us to test non-ugni configurations than for you to worry about it.  I was just curious whether you had any additional data there.

The previous patch for bool transfers was for ugni only, so the fact that your laptop and IB cluster are unpatched should be fine.

[2020-03-03 18:04] reuster986 commented on #301
@bradcray cool, thanks!

[2020-03-03 19:21] reuster986 commented on #301
I ran the reproducer several times on 4 simulated locales on my laptop and 4 locales of an IB cluster and have gotten only correct results so far.

[2020-03-04 00:54] ronawho opened #313 "Ramp up automated testing"
Especially as Chapel 1.21 gets closer, I find myself wanting to be able to run more of the tests to ensure that things are working as expected. I think there's a couple classes of tests that would be really beneficial to automate (even if some of them can't be run as part of CI.)

Related to https://github.com/mhmerrill/arkouda/issues/217, https://github.com/mhmerrill/arkouda/issues/214, https://g

[2020-03-04 01:04] reuster986 commented on #286
I think I converted all the cases of domain slicing in #309

[2020-03-04 01:04] #286 closed

[2020-03-04 01:06] #305 closed

[2020-03-04 01:08] ronawho commented on #301
I ran `./util/test/runClient tests/bool_gather.py --input-size=$((10**7)) --output-size=$((10**8)) -nl 16` 10K times and have only seen correct results so far. I also did a build with AddressSanitizer, and did not detect any memory errors.

It'd be helpful if you could:
 - Compile [test/runtime/configMatters/comm/misalignedComm.chpl](https://github.com/chapel-lang/chapel/blob/master/test/runtime/c

[2020-03-04 01:24] rahulghangas commented on #304
Hi @gnat79, I'm unable to reproduce the argsort instability on a single locale. How many locales are you using? Here's a random dataset I created [testdump](https://drive.google.com/file/d/1rbfVWCzWTqPHAdquL9hzNfZDCDAHnvIn/view?usp=sharing)

You can load it into a list as follows
[code]

Does it show unexpected behavior as before?

[2020-03-04 13:11] gnat79 commented on #304
Hi @rahulghangas, I'm not sure if this is hardware specific. I'm hoping @reuster986 would have a better understanding of that, and I'm not able to do any more testing for the time being, but I'm sure others will be able to track this down. Thanks!

[2020-03-05 16:47] reuster986 commented on #301
I collected this information from a terminal session that successfully reproduced the bug with `tests/bool_gather.py` and an `arkouda_server` on 45 locales.
* Running `misalignedComm`, I get `false` with both `-nl 16` and `-nl 45`.
* I'll send you an email with output of `printchplenv --anonymize` and 1module list -t`.
* I've tested on 16 and 45 nodes. Sending you machine specs in email.

With slu

[2020-03-05 17:01] ronawho commented on #301
There's a couple ways, but the easiest is probably to throw `--nodelist` to the launcher wrapper. Something like:

[code]

This maps to `srun --nodelist` so see --nodelist in https://slurm.schedmd.com/srun.html for more info.

There's also `--exclude` if you think you've found bad node(s), and want to avoid just them, but run on everything else.

[2020-03-05 17:05] reuster986 opened #314 "Support user-defined unicode arrays"
I believe the arkouda Strings infrastructure already handles UTF-8 internally and when read in from HDF5, but when the user calls `ak.array` on a python list containing unicode, it errors.

[code]

The code in `ak.array` does not accout for multi-byte characters in the numpy array to be transmitted over the socket. Also, it uses whatever encoding numpy uses for strings, which I am beginning to sus

[2020-03-05 17:11] reuster986 opened #315 "Server should send error msg on unrecognized command"
When the main server loop encounters an unrecognized command, it just sends an empty message over the socket, which causes havoc in the client. It should instead send the string "Error: unrecognized command", so that the client can raise an exception.

[2020-03-05 17:15] reuster986 opened #316 "Include error class name in error messages"
When the main server loop catches an error that is not a sublcass of `ErrorWithMsg`, it sends a generic error message over the socket, which is not very helpful to the user. Is there a way to print the class name of the error and send a response like "Error: <class UndefinedSymbolError>" or something? Not sure if this works:
[code]

Alternatively, we could go through the arkouda source code and ma

[2020-03-05 17:23] ronawho commented on #301
Oh, and if it's easier to do with env vars you can instead use `CHPL_LAUNCHER_NODELIST` / `CHPL_LAUNCHER_EXCLUDE`

[2020-03-05 18:19] ronawho commented on #271
Just FYI we bumped the default value to 16K in https://github.com/chapel-lang/chapel/pull/15061, so after 1.21 is released (and you're using it) you shouldn't have to set `CHPL_RT_COMM_UGNI_MAX_MEM_REGIONS` anymore

[2020-03-05 19:23] ronawho commented on #301
Hmm, I was able to reproduce this once at 256 nodes with a larger problem size (`--input-size=$((10**8)) --output-size=$((10**9))`), but I cannot reliably produce the failure. Still that should be enough for me to go on (and likely rule out hardware issues.)

[2020-03-05 20:40] reuster986 commented on #301
Well, I'm relieved that I'm not crazy! Thank you for digging into this.

[2020-03-06 00:58] ronawho commented on #301
Some misc notes (that are mostly for myself):

For a GET, the Aries NIC requires that the remote address and the size are 4-byte aligned. Most of our benchmarks tend to use 8-byte types, so our GETs tend to be naturally 4-byte aligned. When a GET has a misaligned size or address, we over-GET into bounce buffers. (We do a 4-byte-aligned GET that is larger than originally requested into some differe

[2020-03-06 10:49] ronawho commented on #301
I was able to reproduce pretty consistently by decreasing the size of the bounce-buffer pool, and I think I've found the source of the bug (big thanks to @gbtitus for the recommendation to look at the bounce buffer code). Here's a patch that should resolve the problem:

[code]

I'll see if I can come up with a simpler and more consistent standalone Chapel reproducer, and will plan to run `tests/bo

[2020-03-06 15:40] ronawho commented on #301
I'm pretty confident that bug is the source of the problem. Basically what happens is we're grabbing too small of a buffer and overflowing it. If we're trying to do a 7-byte GET on an address that has 7-byte alignment, we'll end up doing a 16-byte GET, but we were only asking for space to store 8-bytes. We'd overflow that 8-byte buffer, which corrupts data structures around it, which are later nee

[2020-03-06 17:16] reuster986 commented on #301
@ronawho thank you for identifying this and for the very helpful explanation of why the pretest was necessary. I had hypothesized that something like that was happening, but I felt a little crazy writing that reproducer. Anyway, I will talk with @BryantLam about patching the Chapel build. Thanks again!

[2020-03-06 17:47] ronawho commented on #301
Yeah racy runtime bugs (especially in the comm layer) are often able to convince you that you're insane -- https://xkcd.com/2259/

[2020-03-06 18:12] ronawho opened #318 "Enable SrcAggregation under ugni"
See https://github.com/mhmerrill/arkouda/issues/301#issuecomment-595522280 for some motivation.

In Chapel 1.20, ugni yields while waiting for comm to complete in order to enable comm/compute overlap. Unfortunately, this can artificially increase the lifetime of tasks. When aggregating at scale (256-512 nodes) this can result in enough concurrent tasks to run out of memory. In https://github.com/m

[2020-03-06 19:56] ronawho commented on #318
For some further motivation, here's the current gather performance (2.0s for int64, 27.6s for bool):

[code]

And on an experimental aggregation branch (1.4s for int64, 1.3s for bool)

[code]

[2020-03-09 14:39] mhmerrill opened #319 "restructure testing/checking directories"
We should a have a breif discussion of why the current state is confusing, and restructure the test directories.

We currently have several kinds of tests:
1. Chapel unit tests, so you don't have to compile the whole server to test a specific module... 1min compile vs. a 10min+ compile.
1. Python client/server tests to test a fully built arkouda server and a python client.

Questions to consider:

[2020-03-09 15:16] #217 closed

[2020-03-09 15:46] reuster986 commented on #301
Verified that this fixes the bug in our use cases. Thanks @ronawho !

[2020-03-09 15:46] #301 closed

[2020-03-09 15:56] ronawho commented on #236
Anything you need from us on this one yet?

[2020-03-09 17:35] ronawho commented on #313
I believe all the infrastructure is now in place for ramping up CI testing. We have the ability to:
 - run Chapel unit tests (currently uses `start_test`) -- infrastructure added in https://github.com/mhmerrill/arkouda/pull/312
 - run Python unit tests (uses `runClient`) -- infrastructure added in https://github.com/mhmerrill/arkouda/pull/317
 - run benchmarks in correctness mode (uses `run_benchm

[2020-03-09 17:35] reuster986 commented on #304
@rahulghangas I believe this behavior was XC-specific, and I think it has the same root as #301 . I re-ran @gnat79 's reproducer after applying the patch from that issue and got the correct result, so I am going to close this for now on the assumption that the same patch fixed it.

[2020-03-09 17:35] #304 closed

[2020-03-09 17:48] reuster986 commented on #303
I will work on adding support for broadcasting bool arrays. In the meantime, there's a workaround:

[code]

which essentially uses multiplication to cast the bool to an int.

[2020-03-09 17:50] reuster986 commented on #266
On real data, it's looking like the hashing step is only taking about 5% of the overall sorting time, so I'm going to call this good for now, with the option to revisit later.

[2020-03-09 17:50] #266 closed

[2020-03-09 17:52] reuster986 commented on #236
Sorry, forgot to test this one earlier. I just ran the reproducer and got the correct output, so I'll close.

[2020-03-09 17:52] #236 closed

[2020-03-09 18:05] reuster986 commented on #319
I propose we restructre the test directories as

[code]

The `server/` and `modules/` dirs would be meant for CI-compatible tests that return a success/fail code for automated flows. The `diagnostic/` dir would be for tests that a human runs and examines the output manually. Thus, most of the current `tests/` dir would move to `test/server`, and most of the current `test/` dir would move to `test/

[2020-03-09 18:07] reuster986 commented on #319
I forgot to explicitly state that the `test/server` dir would be for python tests that exercise the server, while the `test/modules` dir would be for Chapel unit tests that do not depend on having an `arkouda_server` built.

Also, should we consider moving `benchmarks/` to `test/benchmarks/`?

[2020-03-09 18:35] mhmerrill commented on #315
@bradcray Maybe someone on the chapel team could point us to a solution? Is there a way to use the `Reflection` module to do this???

[2020-03-09 18:37] bradcray commented on #315
Can one of you point to where the empty message being sent back to the client is coming from, or is it unknown?  It seems as though this could be fixed by simple control flow, without relying on Reflection, but I could be mis-anticipating where this case is coming from.  For example, I'm imagining a big switch statement or conditional that handles messages, and the final `otherwise`/`else` case re

[2020-03-09 18:39] mhmerrill commented on #315
I put this in the wrong issue, it was meant for another issue, sorry.

[2020-03-09 18:39] mhmerrill commented on #316
@bradcray Maybe someone on the chapel team could point us to a solution? Is there a way to use the Reflection module to do this???

[2020-03-09 18:48] #117 closed

[2020-03-09 18:49] #101 closed

[2020-03-09 18:49] bradcray commented on #316
I'm not sure reflection can help here because it tends to provide access to information known at compile-time ("What fields are in this record?"  "If I were to make this call, can the compiler resolve it?"), whereas in this case, I'm guessing it's the dynamic type of the class that you want to reason about.

In Chapel 1.21 and on master, all errors now store strings, but I'm not familiar enough wi

[2020-03-09 18:57] mhmerrill commented on #148
I have been looking at nbstripout
`pip install --upgrade nbstripout`

[2020-03-09 19:47] mhmerrill commented on #316
I think I am going to just fix the exceptions in the arkouda server code making them all subclass the `ErrorWithMsg` class

[2020-03-09 19:50] dlongnecke-cray commented on #316
That seems like the best approach to me, for the time being. I can't think of a particular way to circumvent it.

[2020-03-09 19:52] ben-albrecht commented on #316
I wonder if this is a reasonable feature request for the long-term.

[2020-03-09 20:18] bradcray commented on #316
I'm not sure what's being requested here.  It can't be for the compiler to reason about the class's dynamic type (because the compiler can only reason about static information).

[2020-03-09 20:47] #315 closed

[2020-03-09 22:33] ben-albrecht commented on #316
I was thinking a function to return the dynamic type of a class at runtime (as a string?).

That said, embedding the error type in the default message is another reasonable feature request - then you could query off of `e.message()`.

[2020-03-10 11:02] mppf commented on #316
The internal function `chpl_error_type_name` uses some compiler primitive magic to get the class name. It seems that we could make a similar function available in Reflection - it's mainly a matter of settling on function names & API description.

[2020-03-11 14:54] #302 closed

[2020-03-13 18:37] mhmerrill opened #324 "look into interactionand order of application of python operator overloading"
we are currently not understanding the order of application of the python operator overloading scheme. a key to this understanding is when to return python's `NotImplemented`
* python odering of which operator overloads are used
* python seems to call an objects iterator in some cases even when there a `__radd__` method defined
* __new__: seems to only happen when using NumPy scalars as the first

[2020-03-13 18:40] mhmerrill commented on #324
@hokiegeek2 (hope I got your username correct) could you look at this issue?

[2020-03-13 20:03] hokiegeek2 commented on #324
Will do!

[2020-03-13 20:34] mhmerrill commented on #324
@hokiegeek2 here are some pointers to the relevant code in the arkouda python package.
https://github.com/mhmerrill/arkouda/blob/55ef6f7cec9b763e75c47a17679ce3eb603004a8/arkouda/pdarrayclass.py#L33
https://github.com/mhmerrill/arkouda/blob/55ef6f7cec9b763e75c47a17679ce3eb603004a8/arkouda/pdarrayclass.py#L107-L145

[2020-03-13 20:44] mhmerrill commented on #324
here is a stack overflow question which borders on our need i think
https://stackoverflow.com/questions/22289093/can-you-impose-object-precedence-for-overloaded-operators-in-python

[2020-03-13 20:47] hokiegeek2 commented on #324
@mhmerrill 🤘

[2020-03-16 15:23] mhmerrill commented on #324
@hokiegeek2 New discovery: this problem occurs when a NumPy scalar is used. NumPy appears to call the `pdarray.__iter__()` method. Bill and I currently think we should remove the iterator and force the user to use the `pdarray.to_ndarray()` method

[2020-03-16 19:52] ronawho commented on #296
Here's some quick starting figures for 512 node XC. I'm just using the argsort.py benchmark with `ak.argsort(a)` replaced with `ak.coargsort([a]*iters)`. I'm using 4 GB arrays (`--size=2**29`):

| size  | argsort(a) | coargsort([a]) | coargsort([a]*2) | coargsort([a]*4) | coargsort([a]*8) |
| ----- | ---------- | -------------- | ---------------- | ---------------- | ---------------- |
| 2**29 | 9

[2020-03-17 16:05] ronawho commented on #296
(and this is probably obvious, but the above isn't a realistic benchmark, since there's no data movement after the first incremental sort. It's probably triggering the `isSorted` fast path, so the times might just be the IV update and the time to copy the array-to-be-sorted)

[2020-03-17 17:43] ronawho commented on #296
I think what will end up being important is optimizing repeated calls to radixSortLSD_ranks, and optimizing radixSortLSD_ranks for when the data is mostly sorted. On the first incremental sort the performance will be the performance of just calling radixSortLSD_ranks on the first array. After that though we should have much less data movement and the movement we have will be mostly local.

The cur

[2020-03-23 13:57] hokiegeek2 commented on #324
@mhmerrill Yup, running this through debugger shows that when adding a simple Python int, pdarray.__radd__ is called while adding a numpy.int64 results in the pdarray.__iter__ being called.

![image](https://user-images.githubusercontent.com/10785153/77323852-44c40480-6cec-11ea-8e0d-33ed9b204ff2.png)

![image](https://user-images.githubusercontent.com/10785153/77323923-5f967900-6cec-11ea-8fbc-50d0

[2020-03-23 16:17] hokiegeek2 commented on #324
Okay, figured out what's going on here. The numpy scalars are designed to return a numpy array for __add__ method by iterating over all the values within the target array. This is unlike what the Python scalars do, which is to invoke __radd__ on the target object such as pdarray.

Numpy has a way of doing what we want. Added an \_\_array_priority\_\_ class attribute to pdarray as described [here](

[2020-03-23 16:53] mhmerrill commented on #324
@hokiegeek2 @reuster986 This is a great find. I still think we should disable the `pdarray` iterator.

[2020-03-23 17:45] hokiegeek2 commented on #324
@mhmerrill @reuster986 I agree with @mhmerrill and the dask array [docs](https://docs.dask.org/en/latest/array.html) state it is inefficient to iterate over dask arrays. Shall I update the __iter__ method to raise an NotImplementedError?

[2020-03-24 12:27] mhmerrill commented on #324
@hokiegeek2 I would just delete the __iter__ method from the class rather than throw an error.

[2020-03-24 12:33] hokiegeek2 commented on #324
@mhmerrill Cool, will do that. Also, with __iter__ going away, the following pdarray instance variables would be OBE, correct?

pdarrayIterThreshDefVal = 100
pdarrayIterThresh  = pdarrayIterThreshDefVal

[2020-03-24 12:40] mhmerrill commented on #324
@hokiegeek2 this var is also used in the `pdarray.__str__()` and `pdarray.__repr__()` methods to print the elipsis `...` like NumPy

[2020-03-24 12:50] hokiegeek2 commented on #324
@mhmerrill Cool, removed the __iter__ method, pushed to the pull request, github is currently running checks.

[2020-03-24 12:52] mhmerrill commented on #296
@ronawho maybe we should use your idea about sorting a tuple of two or maybe three ints. Here is some code where we call the `radixSortLSD_ranks` on a tuple array for hashed strings if it helps.
https://github.com/mhmerrill/arkouda/blob/55ef6f7cec9b763e75c47a17679ce3eb603004a8/src/SegmentedArray.chpl#L317-L339

[2020-03-27 12:32] hokiegeek2 opened #327 "create test harness for all python test cases"
1. Rework all python unit tests to extend unittest.TestCase
2. Write pytest.ini file
3. Document unit test and test harness execution in README

[2020-03-27 12:34] hokiegeek2 opened #328 "write pdarrrayIO unit test cases"
1. write or leverage existing logic to generate a randomized test hdf5 file that has four columns: str, int, int, float
2. add logic to pytest.ini file to generate the hdf5 file at the start of test harness or unit test execution, and delete the file at the end of test harness or unit test execution.
3. write pdarrrayIO unit tests

[2020-03-27 13:39] mhmerrill commented on #60
@hokiegeek2 thye system will not allow me to assign this to you for some reason. I am going to create a new issue, link it to this one, and assign that to you.

[2020-03-27 13:41] hokiegeek2 commented on #60
Weird, that’s a dirty trick by GitHub! 😜 Maybe Bill has to assign it?

[2020-03-27 13:42] mhmerrill commented on #60
I can't even assign you to the new issue ;-(

[2020-03-27 13:44] mhmerrill commented on #60
now it worked ??? you are assigned @hokiegeek2

[2020-03-27 14:29] ronawho commented on #296
Here's a very [prototypical branch](https://github.com/mhmerrill/arkouda/compare/master...ronawho:proto-opt-coargsort2) that merges separate arrays into a combined array and only calls sort once. Currently, it's combining into a `2*uint` array to reuse the tuple sorting code you pointed to. Longer term we should combine into an array-of-arrays, or a larger blockdist array that is manually segmente

[2020-03-28 03:38] ronawho commented on #296
Ah, and the reason `coargsort([a8])` is slower than `argsort(a8)` isn't because of the time to combine the arrays into one, but because we're exchanging a bigger key (`2*uint` instead of just `int`):

https://github.com/mhmerrill/arkouda/blob/23d8052d3efc5d59315063df445400a99c49c304/src/RadixSortLSD.chpl#L198-L208.

I need to look at it more, but I _think_ we should be able to improve that by only

[2020-03-28 10:19] hokiegeek2 opened #329 "write error condition reporting/handling python unit tests"
Write Python unit tests that test error condition reporting and handling in the Arkouda Python API

[2020-03-30 17:47] ronawho commented on #296
I opened a draft PR that implements a cleaned up version of the merged-array approach: https://github.com/mhmerrill/arkouda/pull/330. There are some decent performance improvements for the synthetic workloads I added. Using 256 nodes of an XC with `2**28` element arrays I see:
 - 2x speedup for `coargsort([a4, b4])` where a4/b4 are int arrays with 32-bit values
 - 2x speedup for coargsort on 16 ar

[2020-04-01 14:16] ronawho opened #332 "Rename coargsort to lexsort?"
I'm not positive that the semantics are the same, but numpy has a [lexsort](https://docs.scipy.org/doc/numpy/reference/generated/numpy.lexsort.html) function that looks very similar to coargsort. If they are the same, it may be worthwhile to change names for symmetry with numpy.

I have no personal preference or stake in this, I just stumbled across lexsort when I was looking to see if there's any

[2020-04-03 18:00] bradcray opened #337 "Make arkouda testing dummy-proof (considering myself a dummy)"
While working on Arkouda, I often find myself wishing for more of a "1-button" way to sanity check that I haven't broken anything.  My typical process has (naively) been to run `check.py`, and if that passes, to consider things good.  But that requires manually looking to see that each line says "passed" and as PR #334 taught me, it doesn't cover all the (important) code paths.  I'd hoped that the

[2020-04-04 17:39] reuster986 commented on #296
I'm just now able to steal away and look in detail at your work, @ronawho . I like your strategy, and the performance numbers are very promising!

You mentioned a couple comments ago that the main avenue left for improvement is to copy only the `KEY` bits needed for subsequent iterations. I agree with that line of thinking, but I'm fairly certain it can be done even more efficiently by only copyin

[2020-04-04 17:40] #324 closed

[2020-04-04 17:49] reuster986 commented on #332
Thanks for bringing it up. It looks like `lexsort` is the opposite-endian version of `coargsort`, i.e. `lexsort` treats the last array in the argument list as the most significant key, wherease `coargsort` treats the first array as the most significant key. Given the semantic difference, I'm inclined to keep the name `coargsort` around, but maybe we could add a `lexsort` function that just calls `

[2020-04-04 18:03] reuster986 commented on #337
I agree this would be really helpful. Last week, @mhmerrill , @hokiegeek2 , and I had a conversation about the overhauling arkouda tests. I believe one of the outcomes of that conversation is that @hokiegeek2 plans to separate tests into true integration tests that run automatically in github and exercise major categories of functionality (e.g. `check.py`, `string_test.py`, and `groupby_test.py`)

[2020-04-04 18:12] reuster986 commented on #313
Cool, @ronawho !

I mentioned just now on #337 that @hokiegeek2 is reorganizing the python-side arkouda test suite into the workflow-like tests you mention above and true unit tests that aim for good code coverage. I think the plan is to have the workflow-like tests run under CI and the more thorough unit tests be available for developers working on specific functional areas. Also, I don't think @

[2020-04-04 22:03] hokiegeek2 commented on #313
Hey @reuster986 yep, not changing any of the Chapel tests. Adding pytest and pytest-env dependencies to implement a python test harness that can integrate into a CI/CD workflow as well as be executed by a developer. Also, the Python unit tests can be run in debugger mode. Finally, there is a concept of executing the unit tests in full-stack mode (local arkouda server setup at beginning of a Python

[2020-04-04 22:05] hokiegeek2 commented on #337
@reuster986 Cool, will make it happen.

[2020-04-06 00:53] ronawho commented on #296
Ah, interesting. I had been wondering about that myself, but I couldn't convince myself that I only needed to copy the next significant digit instead of all subsequent ones. That's mostly due to me not totally understanding radixsort though. It's not clear to me if each digit is sorted independently, or if the permutation from sorting the previous digit impacts the sorting of the current digit.

[2020-04-06 11:00] hokiegeek2 commented on #327
Screenshot from execution of pytest for the current set of Python unittest.TestCase implementations:

![image](https://user-images.githubusercontent.com/10785153/78551787-4dc8d180-77d4-11ea-90e5-5921e08fe609.png)

[2020-04-06 11:21] ronawho commented on #332
Gotcha, thanks. I'm going to close this since the semantics are different.

[2020-04-06 11:21] #332 closed

[2020-04-06 11:37] hokiegeek2 opened #338 "Add type hints to the Arkouda Python API"
The concept of [type hints](https://docs.python.org/3.7/library/typing.html) were added to Python in version 3.5. Type hints enable specification of types expected in terms of method parameters as well as method returns. Type hints are a great way to prevent runtime errors stemming from the dynamic typed nature of Python which, while great for quick prototypes, can become a source of tricky-to-deb

[2020-04-06 11:44] hokiegeek2 commented on #338
Here's a [good discussion](https://realpython.com/python-type-checking/) of static type-checking in Python

[2020-04-06 13:30] reuster986 commented on #338
I can see this being very helpful, especially for things like
`ak.concatenate` that take lists of `pdarray` or `Strings`.

On Mon, Apr 6, 2020 at 7:45 AM hokiegeek2 <notifications@github.com> wrote:

[2020-04-06 13:53] hokiegeek2 opened #339 "Add mypy static type checker"
The [mypy](http://mypy-lang.org/) project delivers a static type checking capability that confirms all API calls feature the correct, expected method parameter and return types. Using mypy will enable both dynamic typing in the development phase of new functionality and static typing for code to be deployed, which can help prevent runtime type errors that are sometimes very difficult to debug.

[2020-04-06 14:37] hokiegeek2 opened #340 "Enable runtime error-checking with generic_msg enums"
Replacing strings with [enums](https://docs.python.org/3.7/library/enum.html) for calls to ak.client.generic_msg will prevent runtime errors from mistyped message strings.

[2020-04-07 11:06] hokiegeek2 opened #345 "Add Arkouda healthcheck"
I recommend adding a simple health check analogous to the Redis ruok command to confirm if the arkouda_server is up and then expanded to confirm the health status of the arkouda_server. Note: the spirit of this requirement is covered in part by #343, but this requirement would extend the very good idea addressed by #343 by sending back a JSON-encapsulated health status that include stats like reso

[2020-04-07 11:29] hokiegeek2 opened #346 "Add configurable Arkouda client timeout"
Currently if there is not an Arkouda server running on host:port specified in the client config, a request hangs for a long time. I recommend adding a configurable timeout which, if exceeded, causes a Python ConnectionError to be thrown.

[2020-04-07 13:09] ronawho commented on #346
👍 I've been wanting something like this for automated testing too. In our nightly testing that checks arkouda against chapel-master the server is crashing, but the scripts are then trying to connect to the server to shut it down. They're hanging forever trying to connect to a server that is no longer running.

[2020-04-08 14:53] hokiegeek2 opened #347 "Chapel test error"
Hi Guys,

I am seeing the following Chapel test error following a pull from the master branch:

![image](https://user-images.githubusercontent.com/10785153/78798458-046cb380-7987-11ea-96e9-b036ae59245b.png)

[2020-04-08 15:54] hokiegeek2 opened #348 "Replace Python print statements with logging.Logger"
Moving from Python print statements to leveraging the logging.Logger API will enable differentiating error and warning-level logging from debug/info, control over where the log messages go (stdout, file, export to external system such as Elasticsearch or Fluentd, set global logging level, etc...

[2020-04-08 16:19] ronawho commented on #347
I believe this is a duplicate of https://github.com/mhmerrill/arkouda/issues/214

[2020-04-08 19:04] ronawho commented on #346
I've opened a PR for this for automated testing -- https://github.com/mhmerrill/arkouda/pull/349

However, I think a general user-facing timeout would be nicer, and I'd happily switch to using that instead once we have it.

[2020-04-11 17:37] buddha314 commented on #262
I am about to attempt to install Arkouda under the Windows Subsystem for Linux.  I would love to see some instructions there.  Also, it would be nice to see the docs hosted on a web page.

[2020-04-11 17:39] buddha314 commented on #147
I usually prefer looking at the documents hosted on a page rather than in my source tree.

[2020-04-11 18:21] buddha314 opened #353 "Error running make"
Checked out from source on Ubuntu as Windows Subsystem for Linux (yes, i am playing with fire here)

Chapel is installed.

[code]

[2020-04-11 19:10] buddha314 opened #354 "Pip install Arkouda fails, claims Chapel is not installed"
[code]

However `chpl` is in the path.  This is on Ubuntu under Windows Subsystem for Linux

[2020-04-13 13:47] ronawho commented on #353
Arkouda requires hdf5 and zeromq. You can run `make install-deps` to build/install them from source. Or you should be able to install through apt like the CI workflow does:

https://github.com/mhmerrill/arkouda/blob/a8298ff2d43eb4b32fd1a463741a1c2347ce4fc4/.github/workflows/CI.yml#L29-L30

[2020-04-16 16:13] ben-albrecht commented on #41
Not a python interface, but a project with a similar functionality for single node: https://github.com/bluenote10/NimData

[2020-04-17 03:58] ronawho opened #356 "Add a string sort / SipHash benchmark"
Add a benchmark for sorting strings and/or for hashing strings.

Hashing was optimized in https://github.com/mhmerrill/arkouda/issues/266 and it'd be great to have a benchmark we can run nightly to track future improvements and to ensure we don't let any regressions slip in.

[2020-04-17 04:00] ronawho commented on #356
No rush on this, and I'm happy to help with the benchmarking infrastructure I just wasn't sure what the arkouda code itself would look like.

[2020-04-17 04:03] ronawho commented on #296
A coargsort perf test was added in https://github.com/mhmerrill/arkouda/pull/341. Nightly graphs are available, here's the 16 node XC [results](https://chapel-lang.org/perf/arkouda/16-node-xc/?configs=release&graphs=argsortperformance,coargsortperformance)

[2020-04-17 04:05] ronawho commented on #297
If you get a chance, it'd be great to have an arkouda benchmark to help with the performance optimization investigation (and to run nightly so we can track future improvements.)

[2020-04-21 20:12] ronawho commented on #296
The merged array optimization has been implemented in https://github.com/mhmerrill/arkouda/pull/330. I updated the issue description with remaining optimizations. The most important one is likely minimizing the amount of the KEY that gets communicated. i.e. only communicate the next digit instead of always communicating the entire key. @reuster986 I will likely need help with that one.

[2020-04-22 14:15] ronawho commented on #356
May also be worth having a string gather benchmark since https://github.com/mhmerrill/arkouda/pull/275 special cased for ugni vs non-ugni. (Not sure if that needs a separate benchmark, or if there will be a gather included in string sorting.)

[2020-04-27 11:15] hokiegeek2 opened #361 "erroneous version warning (?)"
Hi Everyone,

I may be wrong, but I believe the following version warning is erroneous as the client and server versions seem like they are the same: client (2020.2.4) and server (2020.02.04)

![image](https://user-images.githubusercontent.com/10785153/80366034-92391180-8856-11ea-8d12-09a7de46aef8.png)

[2020-04-27 14:22] reuster986 commented on #361
You're right -- the version check I put in is just a string comparison, which is bad logic. I/we should make it a datetime or integer comparison.

https://github.com/mhmerrill/arkouda/blob/5d6df2ac972cb44567c52987904651906d2e4473/arkouda/client.py#L94

[2020-04-27 16:39] ronawho opened #363 "Upgrade to Chapel 1.21/1.22"
I'd recommend upgrading to Chapel 1.21/1.22 since there were a number of bug fixes and performance optimizations. Additionally, if you're willing to drop support for 1.20 and require 1.21, there are some other code cleanups and further optimizations we can make. In particular, we should be able to optimize aggregation further and enable SrcAggregation under ugni once support for 1.20 is dropped.

[2020-05-01 15:38] ronawho commented on #41
There have been a number of scalability and scalar performance improvements to Chapel and Arkouda recently, so I regathered numbers on a Cray-XC. Below are Numpy vs. Arkouda on up to 512 nodes of a Cray-XC using 3/4 GB per node. Results are for NumPY, Arkouda run serially, Arkouda run with shared memory, and Arkouda run with distributed memory for 36 and 512 nodes. Previous results were time, but

[2020-05-01 15:41] bradcray commented on #41
@mhmerrill : These Chapel vs. NumPy results from Elliot could be good fodder for the SciPy talk...

[2020-05-04 18:48] hokiegeek2 opened #364 "string_test.py periodically fails"
In test harness [pull request](https://github.com/mhmerrill/arkouda/pull/360), the test

[code]

called from

[code]

periodically fails with the following message:

[code]

[2020-05-07 11:48] hokiegeek2 commented on #327
work complete and [pull request](https://github.com/mhmerrill/arkouda/pull/360) merged, closing issue

[2020-05-07 11:48] #327 closed

[2020-05-07 13:48] hokiegeek2 commented on #337
@mhmerrill @reuster986 @bradcray The [test harness](https://github.com/mhmerrill/arkouda/pull/360) pull request that @mhmerrill just merged in does the following:

1. provides pytest functionality to run all unit Python tests at once. if there are any failures, they are listed.
2. integrates python unit test execution into the Makefile within the make test goal so that all Chapel and Python unit t

[2020-05-07 15:57] bradcray commented on #337
This sounds like what I was looking for, thanks!  I'll try to give it a try before too much time passes.

[2020-05-07 18:18] datametrician commented on #41
@ronawho could you share the code for this? It would be nice to see how this compare to Dask/CuPy/UCX-Py

[2020-05-07 18:34] ronawho commented on #41
I'm just using the existing public microbenchmarks in the Arkouda repo -- https://github.com/mhmerrill/arkouda/tree/master/benchmarks

There's a `run_benchmarks` script that will run all of them. e.g:

[code]

If you know of existing Dask/CuPy/UCX-Py benchmarks, I'd also be interested in making Arkouda ports of them.

[2020-05-07 18:51] bradcray commented on #337
@hokiegeek2: How long do you find it takes to run a `make test` typically?  Mine's been silently on the: `tests/client_test.py` step for quite some time now (1/2 hour?) making me wonder if it's hung up.  (I'm testing against Chapel 1.22 which I don't expect to work, so maybe it's hung up in some way and not making progress?  I'll also try against Chapel 1.20 to see if I get better results).

[2020-05-07 18:54] hokiegeek2 commented on #337
@bradcray the Python tests portion of make test typically run < 15 seconds. Looks like the client_test cannot connect to an arkouda_server.

[2020-05-07 18:56] hokiegeek2 commented on #337
the default settings in pytest.ini are as follows:

![image](https://user-images.githubusercontent.com/10785153/81333586-d5735b80-9072-11ea-93b3-889201024058.png)

Are you running in client or full-stack mode?

[2020-05-07 19:00] bradcray commented on #337
I'm just running on my laptop (so probably client mode?  I'm not certain ).  Let me try backing out to 1.20 and see if I get better behavior before worrying about the Chapel 1.22 behavior too much (I didn't expect it to pass, but was hoping to see fireworks).

[2020-05-07 19:10] hokiegeek2 commented on #337
@bradcray should be in full stack mode then if you've not updated the pytest.ini file which is in the arkouda project root directory. This means for each test class (e.g., client_test ), pytest will start up arkouda_server, run the tests, and then shut down the arkouda_server.

To run the python test harness, you run the test harness like this from the project root directory:

`pytest -c pytest.in

[2020-05-07 19:35] mhmerrill commented on #337
when I do `make test` it does not start the server on my mac... it just hangs
it also hangs when I run `pytest -c pytest.ini` from the command line...
I did need to install `pytest` using `pip3 install pytest`

[2020-05-07 19:42] ronawho commented on #364
In my runs, any of the string unit tests can fail sporadically. I wonder if the random string generation is resulting in non-utf8 strings (or non whatever strings numpy/arkouda support)

[2020-05-07 19:42] ronawho commented on #364
cc @reuster986 who I think implemented most of the strings functionally

[2020-05-07 19:49] ronawho commented on #337
I think you didn't get pytest-env, which means the env section in the pytest.ini file that tells it to use fullstack mode is ignored. Could do `python3 -m pip install .[test]` or `python3 -m pip install pytest-env`

[2020-05-07 19:51] ronawho opened #365 "groupby_test.py sporadically fails"
test_groupby_on_one_level fails sporadically (1/20 runs) for me

[code]

[2020-05-07 19:51] ronawho commented on #365
cc @mhmerrill, @reuster986, @hokiegeek2

[2020-05-07 19:55] bradcray commented on #337
Elliot's comment was the problem for me.  Once I did `python3 -m pip install .[test]`, things stopped getting stuck.

[2020-05-07 20:13] hokiegeek2 commented on #337
Cool, thanks @ronawho!

[2020-05-07 21:44] mhmerrill commented on #337
@hokiegeek2 I would like this added to the `README.md`

[2020-05-08 00:56] bradcray commented on #337
In the spirit of dummy-proof", is there a way to make the Python tests aware of whether or not pytest-env is available, and to print an error if it is not rather than hanging trying to connect to the server?

[2020-05-08 10:01] hokiegeek2 commented on #337
@mhmerrill on it now. @bradcray I will check on that.

[2020-05-08 11:29] hokiegeek2 opened #367 "add unit test guidance to README files"

[2020-05-08 11:41] hokiegeek2 commented on #337
@mhmerrill @reuster986 @bradcray @ronawho Added unit test guidance to all three README files and submitted a [pull request](https://github.com/mhmerrill/arkouda/pull/368)

[2020-05-08 11:47] hokiegeek2 commented on #337
@bradcray I can add a pip check to see if pytest-env is installed. The other thing I can do is leverage the client timeout that @ronawho added to throw an error after 30 seconds. Actually both would be good, IMHO. @mhmerrill @reuster986 @ronawho what do you guys think?

[2020-05-08 17:23] ronawho commented on #90
Anything left to do here, or is this completed with @hokiegeek2 recent work in https://github.com/mhmerrill/arkouda/pull/360?

[2020-05-08 20:27] mhmerrill commented on #367
looks good solved by PR #368

[2020-05-08 20:27] #367 closed

[2020-05-08 20:35] mhmerrill commented on #363
@ronawho @bradcray @hokiegeek2 @reuster986 do we have everything in place to move to 1.22?
I'd like to a skip 1.21 altogether.

[2020-05-09 14:21] ronawho commented on #363
The last thing I'd like to do is get the Chapel unit tests compiling with 1.22. I have a branch that should be ready on Monday.

[2020-05-11 16:30] bradcray commented on #363
For most users, I'd recommend going to 1.21 to 1.22, but since we've been working hard to get Arkouda 1.22 compliant, I think skipping straight to 1.22 makes sense.

Once you do and are willing to no longer keep things working with 1.20, let me know and I'll make some code simplifications w.r.t. some of the PRs I made to support compatibility from 1.20 thru 1.22 (I'll still keep it index-neutral,

[2020-05-11 18:44] bradcray commented on #337
I'll defer to others, but these seem good to me.  Specifically, I'm sufficiently python-dumb that if the script said to me "Hey, you didn't install pytest-env and should execute a command like this `blah blah blah` to do so" that would be really helpful.  And the timeout seems like a nice backstop should anything else go wrong if that's easy enough to do.

[2020-05-11 21:20] hokiegeek2 commented on #337
@bradcray Cool, gotcha, I can add these two features without too much trouble. Also, I did add to the main README the requirement to install pytest and pytest-env, a write-up on the Python and Chapel unit tests, and finally links to the Python and Chapel test README files, so *hopefully* it will be much more apparent to the developer how to run the unit tests.

[2020-05-13 18:23] hokiegeek2 opened #371 "reverse some recent pytest-based test harness changes"
Just need some minor updates to fix the following issues introduced in #366

1. Re-enable using the ARKOUDA_SERVER_HOST, ARKOUDA_SERVER_PORT to enable testing both local or remote arkouda_server instances
2. Fix ARKOUDA_FULL_STACK_TEST AND ARKOUDA_VERBOSE env variable capture logic
3. Re-enable running the Python unit tests in debugger mode within an IDE
4. Re-align test README documentation with

[2020-05-15 14:23] ronawho commented on #363
https://github.com/mhmerrill/arkouda/pull/370 gets the Chapel unit tests compiling with 1.22

[2020-05-15 14:38] ronawho commented on #313
FYI with https://github.com/chapel-lang/chapel/pull/15651 we run the python unit testing in the same configs that run performance testing, so we have testing that checks Arkouda master against the chapel 1.20 (hoping for 1.22 soon) as well as chapel master for:
 - 16-node-XC (aries)
 - 16-node-CS (FDR IB)
 - single node server

The test results are behind our firewall, so for now I think we can ju

[2020-05-15 19:38] #214 closed

[2020-05-15 19:38] #347 closed

[2020-05-18 20:08] #363 closed

[2020-05-19 12:13] ronawho commented on #353
Closing, but let me know if you're still having issues.

[2020-05-19 12:13] #353 closed

[2020-05-19 19:46] buddha314 commented on #353
Thanks, lost track of this, will re-open if it still happens when I try again.

[2020-05-22 15:43] hokiegeek2 commented on #371
@mhmerrill merged into the master branch, ticket complete.

[2020-05-22 15:43] #371 closed

[2020-05-22 18:31] buddha314 commented on #354
recent pull, no longer having this problem.  Honestly don't know what fixed it.

[2020-05-22 18:31] #354 closed

[2020-05-26 17:12] hokiegeek2 commented on #337
@bradcray I am testing a [branch](https://github.com/hokiegeek2/arkouda/tree/337_make_arkouda_testing_dummy-proof) now (ported to Chapel 1.22 and working through a make file issue) where I added a client timeout to the arkouda client as well as a check within the base_test.py script where I confirm pytest and pytest_env are installed. These two checks together ensure you won't have the client hang

[2020-05-26 17:41] bradcray commented on #337
Sounds good, thanks!

[2020-05-26 18:09] hokiegeek2 commented on #346
@ronawho I was able to add a client timeout directly to arkouda client and testing looks good. It's in this [branch](https://github.com/hokiegeek2/arkouda/tree/337_make_arkouda_testing_dummy-proof) and the code is [here](https://github.com/hokiegeek2/arkouda/blob/337_make_arkouda_testing_dummy-proof/arkouda/client.py)

[2020-05-26 18:18] hokiegeek2 commented on #337
@bradcray BTW, the name of this ticket cracks me up every time I open it up to add comments.

[2020-05-26 19:47] hokiegeek2 commented on #346
The chapel-gasnet CI workflow consistently fails on running make check:

![ci-arkouda_tests_linux-chapel-gasnet-make-check-failure](https://user-images.githubusercontent.com/10785153/82943753-17077000-9f68-11ea-9dd9-e7c38a335735.JPG)

The error message is the same one I see if the client times out. But...the timeout is occurring at 18-20 seconds.

[2020-05-26 20:40] hokiegeek2 commented on #337
@bradcray just submitted a pull request for this.

[2020-05-26 20:41] hokiegeek2 commented on #346
Once I enabled no timeout all CI workflows suceed, submitted pull request

[2020-05-27 17:06] hokiegeek2 commented on #337
@bradcray my [pull request](https://github.com/mhmerrill/arkouda/pull/377) Please check out the changes I've made and lemme know if the features I've added have satisfied your requirements for this ticket.

[2020-05-29 19:52] bradcray commented on #337
Hi @hokiegeek2 — When I run `make test`, I currently see:

[code]

As a `make test` user, what should I be expected to do to feel confident that everything worked as expected?  (e.g., scan the entire output for the string "error" and if I don't see one, assume things are good?).  Is there anything more we could print at the end to summarize that everything passed / nothing failed? (if that's actua

[2020-05-29 22:37] hokiegeek2 commented on #346
The merge request was pulled in, capability is fully-tested and documented. ticket resolved.

[2020-05-29 22:37] #346 closed

[2020-05-30 03:29] hokiegeek2 commented on #337
@bradcray here's what happens when pytest and/or pytest-env is not installed:

![image](https://user-images.githubusercontent.com/10785153/83318580-168b0580-a204-11ea-9d4e-b23470ff5b6c.png)

[2020-05-30 10:24] hokiegeek2 commented on #337
@bradcray I believe that output means the tests were run. Whenever the make test runs successfully for me that's what I see. Evidence for that is the error I am seeing below from a fresh arkouda build on one of my linux boxes:

![image](https://user-images.githubusercontent.com/10785153/83325936-422ae180-a23e-11ea-9a4b-de10b4eaadc8.png)

[2020-05-30 10:31] hokiegeek2 opened #379 "StringGatherSpeedTest.chpl failing with latest master version on Linux"
while running make test on a fresh Linux build with Chapel 1.22 I am seeing this error:

![image](https://user-images.githubusercontent.com/10785153/83326093-2ffd7300-a23f-11ea-916e-6c61d4893015.png)

[2020-06-01 16:06] reuster986 opened #380 "Enable casting of pdarray and Strings"
There are currently hacky ways to cast between pdarrays of different types, e.g. 1.0 * int64 => float64, but casting would benefit from a standard API. Also, there is currently no way to convert between Strings and pdarray.

In numpy, casting is done by calling the actual dtype on an array, e.g. `myint = np.int64(myfloat)`. Arkouda dtypes just alias numpy dtypes, but we could overload their `__cal

[2020-06-01 16:29] ronawho commented on #337
I'm working on a branch that gets the chapel unit tests running under `start_test`, but today they just get compiled.

I think the standalone chapel tests are useful for isolating specific components, but generally speaking I think the python unit tests are far more valuable and should be what `make test` runs.

Left to my own devices I would end up with targets like:

 - `make check` -- just runs

[2020-06-01 16:33] bradcray commented on #337
[Oops, @ronawho and I were typing simultaneously]

Hi @hokiegeek2 — That error you're getting indicates that the `chpl` build of the test is failing, not that the run of the test is failing.  It still might be that the tests are being run, but the output doesn't give any indication of it, and checking through the Makefile, I'm not seeing any indication that they're being run after being compiled e

[2020-06-01 16:36] ronawho commented on #337
@bradcray if you just run `make test-python` (which I'm proposing `make test` would alias) does that fit what you're looking for?

[2020-06-01 16:48] ronawho commented on #379
Whoops, should be fixed by https://github.com/mhmerrill/arkouda/pull/381

[2020-06-01 16:57] bradcray commented on #337
Assuming (1) that I'd see a count of errors in the following line if there were any and (2) it was what the Arkouda dev team wanted me to use to validate changes before opening a PR, then yes.

[code]

[2020-06-01 17:14] ronawho commented on #337
I obviously can't speak to (2), but for (1) it is pretty obvious when an error occurs. Introducing an error in one of the sort tests:

[code]

![Screen Shot 2020-06-01 at 1 13 00 PM](https://user-images.githubusercontent.com/1588337/83435114-ab128500-a409-11ea-8999-e48dfe72aa42.png)

[2020-06-02 11:17] hokiegeek2 commented on #337
@bradcray As @ronawho showed, if there are any python test errors, you'll see the number that failed as well as detailed information for each error.

Just to summarize where we are at (I realize there's a lot to digest WRT to this ticket), the configurable client timeout, python check for required test libraries, and integration of python tests into the `make test` Makefile goal together enable th

[2020-06-02 17:07] bradcray commented on #337
Yep, understood.  For me, I think the big remaining question is "What tests does the Arkouda team expect a developer to run and check before filing a PR?"  (i.e., what's the best practice that an Arkouda developer should follow?).

If the answer is "just the Python tests" as Elliot suggests, then I think we've got what I wanted here, and simply need to let developers know that `make test-python` i

[2020-06-02 17:19] reuster986 commented on #337
I believe Elliot is correct that the python tests are sufficient for an
arkouda developer to know and demonstrate that things are working
correctly. I see the chapel tests more for deep debugging of things like
performance and scaling issues, and as historical artifacts of the process
of prototyping new arkouda capabilities without involving the client. In
that sense, most of the chapel tests are

[2020-06-02 19:28] hokiegeek2 commented on #328
Submitted [pull request](https://github.com/mhmerrill/arkouda/pull/383)

[2020-06-02 19:32] hokiegeek2 commented on #89
@mhmerrill do you think the python test harness has progressed enough to close this ticket?

[2020-06-03 12:35] hokiegeek2 opened #384 "standardize on yaml configuration"
Currently the configuration of Arkouda is handled by a mix of method parameters and environment variables, some of which are not documented in the README file. I recommend adding a yaml configuration file that puts all variables in one place. We can either parse the yaml file and set env variables or setup a singleton context object.

[2020-06-09 14:05] #379 closed

[2020-06-10 20:22] ronawho opened #388 "Speed up CI testing"
gasnet CI testing takes ~45 minutes, which is a bit long for my taste especially since the comm=none testing only takes 6 minutes. The comm=none config is faster in both build and testing times. I don't think there's much we can do about the build times, but we should be able to improve testing times. I'm hoping we can get gasnet CI below 30 minutes. Things to try:
 - [x] use gasnet-smp instead of

[2020-06-10 22:57] ronawho commented on #388
comm=none `make python` takes 25s and gasnet-smp takes 19 minutes. Here's all tests under gasnet-smp that take over 5 seconds:

[code]

[2020-06-11 15:39] mhmerrill commented on #179
@mcdobe100 I don't have any concerns. I do have a few ideas about this if you want to chat about it otherwise "have at it".

[2020-06-11 15:44] mcdobe100 commented on #179
@mhmerrill Yes, I would definitely be interested in chatting about this, when are you available? I currently have a branch `translate-setops` on my fork that has a proposed implementation for `union1d()` moved onto the server as `newUnion1d()` if you wanted to take a look at that.

[2020-06-11 19:14] bradcray commented on #237
On chat, @ronawho, @mcdobe100, and I were noticing that in some cases that currently use an aggregator it seems as though a slice assignment could potentially now be used instead.  For example, IndexingMsg.chpl contains:

[code]

which seems like a longhand form of writing `aa = ea[slice];` (or `aa = ea[{slice}];` which unfortunately might still perform better...).  Note that slice is a range.  We

[2020-06-17 14:15] mhmerrill commented on #237
@bradcray @ronawho @mcdobe100 what if the slice is strided? if the stride is bigger then this code I think is what you want. We wrote it like this because we didn't think the compiler/runtime would do the right thing.

[2020-06-17 14:47] mhmerrill commented on #179
I'll try to describe here what my process is for calulating a memory estimate.

1. remember, we want a high water mark for memory
1. look through the code and see what arrays get allocated
1. also look for extra data structures and calulate their memory foot print
1. remember all allocation in the symbol table get tracted and` overMemoryLimit` gets called for simple operations
1. more complex oper

[2020-06-17 16:06] mcdobe100 commented on #237
This is also one other case that I the aggregator works better than the slice operator would, I am not aware of anyway to do this otherwise, although it certainly may exist
https://github.com/mhmerrill/arkouda/blob/6bf11b62fbd0eec895e407559d752b86fd5da779/src/IndexingMsg.chpl#L151-L155
I think setting some sort of standard to achieve greater code uniformity throughout the code base is a good idea

[2020-06-17 16:26] mcdobe100 commented on #179
[code]
 @mhmerrill Would this then be an acceptable `overMemLimit` for `union1d` then because of the 6 intermediate arrays allocated or would it instead be something like this
[code]
because of the 3 calls to `uniqueSort`? (code shown below)

[code]

[2020-06-17 17:09] ronawho commented on #237
I haven't had a lot of time to think about this issue, but at a high level I'll note that aggregation is really important for performance, especially on non-cray networks. We should be careful about changing uses of aggregation.

For Brad's example, I suspect we will use bulk comm for simple cases, but not if the slice is strided, but I'd need to check that.

For the `if truth` variant, it's not c

[2020-06-17 17:36] bradcray commented on #237
I'm fairly confident that our bulk communication does buffering for some strided cases, but I don't recall whether this was one of them (the other major case being taking a "dense" slice along an array dimension that isn't adjacent in memory, like an array column `{1..n, i}` where the array is laid out in row-major order).  But I think it ought to.  Or, put another way, I think that ultimately we

[2020-06-18 14:06] mhmerrill commented on #179
predicting memory usage is a little hard here because we are uniqueifying/deduping the input arrays into sets. the formula for worst case is something like... remember we want a high mark which isn't necessarrilary a sum... the result size is less than or equal to the size of `gEnt` added to the size of `gEnt2`... also I think I should add a memory usage estimator to the `radixSortLSD` module
[cod

[2020-06-19 18:52] ronawho opened #395 "Update how we test different types for the benchmarks"
Currently the CI testing assumes that all benchmarks support int/float and manually runs some for bools:

https://github.com/mhmerrill/arkouda/blob/6bf11b62fbd0eec895e407559d752b86fd5da779/.github/workflows/CI.yml#L40-L44

However, the new setops test (https://github.com/mhmerrill/arkouda/pull/394) does not work with float, so we're currently working around that. Instead I'm thinking the tests the

[2020-06-25 14:55] hokiegeek2 commented on #337
@mhmerrill @reuster986 @bradcray We good to close this issue?

[2020-06-25 15:55] hokiegeek2 commented on #328
@mhmerrill @reuster986 are we good to close this issue?

[2020-06-25 15:56] hokiegeek2 commented on #313
@ronawho are we good to close this issue?

[2020-06-25 16:13] ronawho opened #399 "Create more complete workflow benchmarks"
Split off of https://github.com/mhmerrill/arkouda/issues/313

Currently, all the benchmarks are micro-benchmarks that test a specific operation. This are really valuable, but I also think it'd be great to have some benchmarks that are more representative of real workflows. I'm imagining we'd either need to generate fake data or use a well known public data set.

[2020-06-25 16:15] ronawho commented on #313
Yeah, the main spirit of this (add enough automated testing we feel good about upgrading chapel versions) is done. The one thing left in here that I think is still worthwhile is creating more complex benchmarks that are representative of real workflows. I've split that off to https://github.com/mhmerrill/arkouda/issues/399, and will close this.

[2020-06-25 16:15] #313 closed

[2020-06-25 16:56] bradcray commented on #337
I now believe that I (personally) know what to do as a developer for Arkouda testing, but am not convinced other new developers/contributors to the project would be able to figure it out.  Two minor things that I think would improve that situation would be:

* to have `make test` only run the tests that we expect developers to run before filing a PR (namely `test-python` but not `$(TEST_TARGETS)`

[2020-06-25 17:49] mhmerrill commented on #337
@bradcray I am ok with any and all suggestions and am very thankful that you guys have taken the time to lend your expertise and experience.

[2020-06-25 17:54] mhmerrill commented on #328
I am good with closing this now, if wee need to we can open a new issue in the future.

[2020-06-25 17:54] #328 closed

[2020-06-25 18:04] hokiegeek2 commented on #337
@bradcray Gotcha, I can add that verbiage in the second bullet to the [test README](https://github.com/hokiegeek2/arkouda/tree/master/tests). Is there anything else you can think of that's missing from the test README file?

In terms of make test, sounds like that should be overhauled

[2020-06-25 18:14] bradcray commented on #337
That sounds like another can of worms / separate issue.  :)  I didn't review the README from that perspective, I just searched through it for the word "test" to see if it said what I should do as a developer.

I wasn't imagining anything significant here.  If it were me, I'd just change:

[code]

to:

[code]

so that `make test` does the simple / recommended thing that self-verifies.  And then add

[2020-06-25 18:22] hokiegeek2 commented on #337
@bradcray just to confirm, you've seen the [python](https://github.com/hokiegeek2/arkouda/tree/master/tests) and [chapel](https://github.com/hokiegeek2/arkouda/tree/master/test) README files and you're concerned there are still some gaps? If so, please lemme know what's missing from the Python one if you don't mind because I reworked that recently and I *thought* I had that one in pretty good shap

[2020-06-25 18:34] ronawho commented on #337
I had similar thoughts to Brad on `make test` and updating docs. I think I started a branch for that a while back, but then forgot about it. Let me see if I can find that

[2020-06-25 18:48] mhmerrill commented on #337
I am ok with doing the `make test` change. That is `make test` just runs the `test-python` target. Or am I missing something?

[2020-06-25 18:50] mhmerrill commented on #365
did we ever understand or track this down?

[2020-06-25 18:54] ronawho commented on #337
https://github.com/mhmerrill/arkouda/compare/master...ronawho:improve-testing-docs

I (and I think a lot of devs) are pretty bad at reading documentation thoroughly. I typically just search for a keyword I'm expecting like "test" and just read that section, so I was trying to go for something that helps with that workflow.

I think that branch does what Brad was suggesting and Mike ok'd, but I'd h

[2020-06-25 18:58] ronawho commented on #337
Whoops, missed mikes last comment before posting that. Yeah, I think it's just making it so that `make test` just runs the python tests, and then adding `test-chapel` and `test-all` targets

[2020-06-25 19:06] hokiegeek2 commented on #365
@mhmerrill No, but I would be happy to take it on once I wrap up #60

[2020-06-25 19:07] bradcray commented on #337
Oh sorry, no, that's not what I was trying to imply.  I thought you were asking whether I thought there were other, general changes that should be made to the top-level README if we were already editing it, and I was just trying to say that I hadn't reviewed the whole file, so would need to put more time into it to answer that question (and don't think it's necessary for this issue).  I think a si

[2020-06-26 19:53] #395 closed

[2020-06-29 00:36] buddha314 opened #403 "Document `randint` and other random vector creators"
I'm trying out Arkouda with some [silly stuff](https://github.com/VerdantAI/math-blog/blob/master/Messing_With_Arkouda.ipynb) and I want to be able to create a vector of random normals with a given mu, sigma.  I see that arkouda provides a `randint`, what other random generators are there?

[2020-06-29 02:14] mhmerrill commented on #403
@buddha314 I understand your desire for the long term but in the short term I hope this helps you...
we have a few functions for generating random vectors of things and I believe they all have doc strings, here is list of the exported functions from that part of the Arkouda package...
https://github.com/mhmerrill/arkouda/blob/6de62d263e831fb55e6978e89f3e36952e16d2ac/arkouda/pdarraycreation.py#L11-

[2020-06-29 02:20] mhmerrill commented on #403
@buddha314 I just checked the (`make doc`) documentation but some of these functions are not included in the index for some reason but they do have doc strings in the python code ;-)

[2020-06-29 02:21] mhmerrill commented on #403
@reuster986 why do only some functions show up in the Arkouda python doc index. Do they have to be manually added?

[2020-06-29 04:54] buddha314 commented on #403
Quick note when this goes into production.   `Var(aX) = a^2Var(X)`.  So your method above creates a `N(0, sqrt(sigma))` and not `N(0, sigma)` random variable IF I'm getting the computer right.  Thanks so much!

[2020-06-29 05:08] buddha314 opened #404 "Question: Can I build a Pandas dataframe in parallel?"
Please forgive this is it's way off topic.  In the construction of simulations, I often want do something like the below.  Basically for every epoch keep a record of the agent state.

[code]

Now, because Chapel is bad-ass, I can run all these agent updates with a `forall` or something in parallel.  I have not experimented much with saving that epoch data to hdf5 or anything. But in python it woul

[2020-06-29 15:39] mhmerrill commented on #403
maybe the doc string is wrong?  @reuster986 @buddha314

[2020-06-29 15:55] mhmerrill commented on #404
@buddha314 we have several contenders for some data frame functionality but we have not been able to release code (from us).
We usually just keep a dictionary of Arkouda pdarrays a.k.a. a poor-man's dataframe. We cannot use Pandas directly because it wants to get into the internals of it's NumPy arrays in some cases. There is a PR #397  we are currently looking at with some dataframe functionality

[2020-06-29 17:39] mhmerrill commented on #404
@buddha314 there are several samples of using Arkouda to do data-frame like things and also more complex examples in the repo. There are better examples which other people have constructed but here are links to a few in the repo...

- look at some of the toys like https://github.com/mhmerrill/arkouda/blob/master/toys/connected_components.py
- look at some of the files in https://github.com/mhmerri

[2020-06-30 20:10] reuster986 commented on #403
Hmm, I believe multiplying the standard normal variable by `sigma` should result in a variable with variance `sigma^2`, correct? In the docstring, I'm using the convention `N(mean, variance)`, as opposed to `N(mean, standard_deviation)`.

[2020-07-01 11:14] hokiegeek2 opened #405 "Refactor arkouda_server"
Following a design discussion with @mhmerrill and @reuster986, the following changes will be made to arkouda_server.chpl to simplify the message handling logic:

1. decode each incoming message element once
2. breakout the incoming message into two elements: (1) string binary containing the cmd, username, and token (the latter for when [basic authentication](#60 )) and (2) a payload element that w

[2020-07-01 13:08] mhmerrill commented on #405
I am not sure about 4) in you list, I think I would like all Msg processing routines to have the same function signature and then do decode inside the Msg processing routine... so that means all `payload` arguments are bytes. The rational for this is because we may want to have a function table approach in the future and I wouldn't want to make that harder.

[2020-07-01 13:09] hokiegeek2 commented on #405
@mhmerrill yes, you are correct! I realized that a few minutes after I got started, :)

[2020-07-01 13:10] mhmerrill commented on #405
I also thing this should be a seprate PR from the authentication work you are currently finishing up. Reasoning being that I would like change to be as incremental as is convenient to ease accepting, testing, and possible backing out thing that don't work or were not a good idea after further examination.

[2020-07-01 13:17] hokiegeek2 commented on #405
@mhmerrill agreed, will be submitted #60 PR later this AM.

[2020-07-03 11:32] hokiegeek2 opened #407 "io_test fails in CI/CD pipeline"
Need to figure out the installation process needed to fix this error raised in CI/CD pipeline. Disabled io_test.py until I fix this

![image](https://user-images.githubusercontent.com/10785153/86465283-55c6dd80-bcff-11ea-8d8e-3faa1a9dd544.png)

[2020-07-06 12:07] hokiegeek2 commented on #407
The reason I did not see this in my testing is that Anaconda automatically install h5ls:

![image](https://user-images.githubusercontent.com/10785153/86591361-6f666000-bf5f-11ea-85da-6e71922ffa71.png)

![image](https://user-images.githubusercontent.com/10785153/86591412-8c9b2e80-bf5f-11ea-9876-b3d6e5faaacb.png)

The CI/CD environment does not use anaconda to manage python dependencies, so this is

[2020-07-06 13:35] hokiegeek2 commented on #407
Hmmm...actually, as it turns out, h5ls is indeed installed with hdf5 in arkouda:

![image](https://user-images.githubusercontent.com/10785153/86593376-16003000-bf63-11ea-910b-add66eeb3725.png)

[2020-07-06 14:10] hokiegeek2 commented on #407
Adding $ARKOUDA_HOME/dep/hdf5-install/bin to the $PATH appears to make the io_test.py run correctly as h5ls is found:

![image](https://user-images.githubusercontent.com/10785153/86602619-e7895180-bf70-11ea-87f4-74d11a0f4265.png)

[2020-07-06 14:33] hokiegeek2 commented on #407
Still getting an error that h5ls cannot be found:

![image](https://user-images.githubusercontent.com/10785153/86603209-b5c4ba80-bf71-11ea-88c4-167ecddc0829.png)

[2020-07-06 14:37] hokiegeek2 commented on #407
Okay, now I see why:  the installl-hdf5 goal is not being called in the CI/CD workflow:

![image](https://user-images.githubusercontent.com/10785153/86605087-3f758780-bf74-11ea-9fa3-8489b96eced9.png)

[2020-07-06 15:14] hokiegeek2 commented on #407
Okay, adding the hdfs-tools install fixes the h5ls missing lib issue:

![image](https://user-images.githubusercontent.com/10785153/86609334-d3961d80-bf79-11ea-8403-f0ebb246ac88.png)

[2020-07-06 15:22] hokiegeek2 commented on #407
@mhmerrill @reuster986 @ronawho @bradcray to fix this issue, need to do one of two things: (1) add hdfs-tools to the list of dependencies for the two dependency install sections in the [CI yaml](https://github.com/mhmerrill/arkouda/blob/master/.github/workflows/CI.yml) or (2) run the install-hdf5 goal prior to the tests executing

Seems like option 1 may be the best, but either is cool with me.

-

[2020-07-06 15:40] ronawho commented on #407
Option 1 sounds right. The CI installs with apt instead of building from source with `install-hdf5` because apt install is much faster

[2020-07-06 20:37] mhmerrill commented on #407
Option 1 sounds ok to me.

[2020-07-07 12:05] hokiegeek2 commented on #407
@mhmerrill @ronawho Cool, thanks guys! @mhmerrill @reuster986 I recommend @ronawho update the CI yaml to include the hdf5-tools install so that the io_test.py test cases will run.

[2020-07-07 12:18] hokiegeek2 opened #408 "use github pages to host arkouda docs"
1. Configure Arkouda github site to integrate github pages for docs hosting
2. Get all README files available via github pages
3. Get pydoc pages available via github pages
4. Get python API and Chapel API docs available via github pages

[2020-07-07 21:18] ronawho commented on #407
I am happy to make that change if you want, but feel free to make it yourself if you'd like. I don't need to be a gatekeeper on the CI infrastructure.

[2020-07-07 22:29] hokiegeek2 commented on #407
Cool, I will make the change/test within my fork and submit the pull request in the AM.

—oohn

[2020-07-08 03:35] bradcray opened #410 "Improve error/check for Chapel installation"
In [this StackOverflow post](https://stackoverflow.com/questions/62629403/pip-install-arkouda-fails-even-when-chapel-installed), a user was confused about why pip installing Arkouda was leading to an error about Chapel not being installed when, to him, it clearly was.  This makes me wonder whether:

(a) Arkouda could be checking for Chapel installation via `which chpl` rather than `$CHPL_HOME` (in

[2020-07-08 14:37] hokiegeek2 commented on #407
Work complete, submitted [pull request](https://github.com/mhmerrill/arkouda/pull/411)

[2020-07-08 19:04] hokiegeek2 opened #412 "improve error handling in arkouda_server"
There are certain uncaught errors that can cause the arkouda_server chpl process to crash. An example is shown below:

![image](https://user-images.githubusercontent.com/10785153/86954579-3c20fe00-c124-11ea-9a28-658e0b3e141f.png)

I recommend revisiting error handling within the arkouda_server module to catch *Msg-level errors and report back to the client as opposed to crashing arkouda-server

[2020-07-08 20:20] mhmerrill commented on #316
@hokiegeek2 #412 might be redundant with this issue.

[2020-07-09 13:30] mhmerrill commented on #412
@hokiegeek2 this appears to be a case where we expect and `int64` but get a `float64` I think this may be a python side error in the construction of the message to the server.

[2020-07-09 13:42] hokiegeek2 commented on #412
@mhmerrill This is actually from me sending the string 'nan' through client.generic_msg method. I just wanted to see what would happen if a user sent in an arbitrary string. It _seems_ like we should have a try..catch guard to prevent something like this from crashing the arkouda server where a fat-fingered user (like me) dorks up a command string. :)

[2020-07-09 13:45] mhmerrill commented on #412
`ak.generic_msg()` is not really supposed to be called by the user and is not exported, although python still lets the all functions be called.

[2020-07-09 13:47] hokiegeek2 commented on #412
@mhmerrill gotcha, yeah, I was just trying to see if a malformed command is sent by the user would crash the arkouda_server. if you are thinking something like this is really far-fetched, that's cool.

[2020-07-13 13:22] hokiegeek2 commented on #407
[Pull request](https://github.com/mhmerrill/arkouda/pull/411) testing succeeded and pull request merged, issue resolved.

[2020-07-13 13:22] #407 closed

[2020-07-15 10:55] hokiegeek2 commented on #405
work completed, pull request approved and merged.

[2020-07-15 10:55] #405 closed

[2020-07-15 10:56] hokiegeek2 commented on #345
completed development of simple ruok command that returns a message "imok" analgous to apps such as Redis and telnet, merged code into master.

[2020-07-15 10:56] #345 closed

[2020-07-15 10:59] hokiegeek2 commented on #337
@bradcray @ronawho Master now includes the following make goals:

test
test-python
test-chapel
test-all

where the default test just executes the python tests via test-python and the only time the chapel tests are run is either by themselves via test-chapel or after the python tests via test-all.

Are we good to close this issue?

[2020-07-15 16:56] bradcray commented on #337
Yep, sounds good, thank you!

[2020-07-15 16:56] #337 closed

[2020-07-16 19:13] hokiegeek2 commented on #408
Completed development, pushed to git, PR submitted and approved.

[2020-07-16 19:13] #408 closed

[2020-07-16 19:24] hokiegeek2 opened #427 "Expand set of Arkouda examples/tutorials with Netflow data"
Develop Jupyter notebooks that detail a variety of Arkouda EDA workflows using Netflow data.

[2020-07-16 19:48] mhmerrill opened #428 "workflow for building and checking in arkouda/docs into the repo for github pages to host"
Remember we have `docs/` in the `.gitignore` file so we don't get rebuilt docs on every PR.

Strawman workflow for adding new arkouda doc build (`make doc`) to repo for github pages to host

1. create branch for new doc build from master
1. build docs in branch populating the `arkouda/docs` directory
1. add the generated doc files to the commit using the force flag on `git add -f docs/` to overrid

[2020-07-16 19:56] mhmerrill commented on #428
Please review and comment on this if you have an opinion or insight: @reuster986 @hokiegeek2 @BryantLam @bradcray @ronawho
Point others who might have an opinion or value to add to this issue.

[2020-07-16 20:05] bradcray commented on #428
My main reaction is: how bad would it be if `docs/` was not listed within `.gitignore`?

I tend to be of two minds for generated files like this whose contents I care about:  On one hand, I like them to be in the repo in order to track their history and make sure they don't change in surprising ways.  In the Chapel repo, the files generated by `bison` and `flex` are like this in that they're in th

[2020-07-17 00:52] mhmerrill commented on #428
Maybe I should create and arkouda_doc repo to hold the built docs...

[2020-07-17 00:57] BryantLam commented on #428
I have a hard-line opinion that I never commit byproducts into the history if it can be generated. This guideline cuts down on polluting the history and making clones take longer.

For hosting the documentation, my thoughts would be to create a separate GitHub-Pages-specific repo for the docs and set up a CI runner to build the docs and push to it periodically. There would be some complexity in ma

[2020-07-17 01:51] bradcray commented on #428
Is a human in the loop for reviewing these pushes?  If not, what's the benefit of storing them in a repo?  If so, what's the periodicity of the updates?

[2020-07-17 11:05] hokiegeek2 commented on #428
@BryantLam definitely good points! One key about the approach that @mhmerrill details above is that it leverages the [Github Pages](https://pages.github.com/) framework to host Arkouda docs for free in a manner that integrates into the Arkouda github repo. Another is that it ensures we maintain a git history of all documentation as well.

@bradcray yes, each docs PR would be reviewed prior to merg

[2020-07-17 13:04] mhmerrill commented on #428
John and I were talking about https://readthedocs.org/ and it claims to integrate with GitHub in a automated way of building the docs when certain events happen. I requires a `.readthedocs.yml` file in the repo to direct the building of the docs https://docs.readthedocs.io/en/stable/config-file/v2.html

[2020-07-17 14:44] reuster986 opened #432 "GroupBy on strings fails with unkown symbol error"
There is a python-side bug that is causing `GroupBy` on strings to return an uknown symbol error. I believe the bug is in this block:

https://github.com/mhmerrill/arkouda/blob/b75031c3c2e219d550588dd6fe9bb76fbaef1623/arkouda/groupbyclass.py#L104-L125

I think what is happening is `h1` and `h1` are being garbage collected by python before the `generic_msg` call, so the arkouda server deletes the a

[2020-07-17 14:49] reuster986 opened #433 "Support writing string arrays to disk"
Right now, there is no clean way to save a string array to disk like there is for a pdarray.

[2020-07-17 15:33] mhmerrill commented on #428
readthedocs can now mostly build and host the arkouda documentation
https://arkouda.readthedocs.io/en/latest/
we are currently building from this arkouda branch
https://github.com/mhmerrill/arkouda/tree/mhmerrill-doc-req
We are not currently able to build the chpldoc based documentation.

[2020-07-17 15:38] hokiegeek2 commented on #428
@mhmerrill NICE!!!!

[2020-07-17 15:52] bradcray commented on #428
Ah, the piece I was missing was that GitHub pages requires the docs to be in a repo, thanks!

[2020-07-17 15:54] hokiegeek2 commented on #428
@mhmerrill what's the error in the chpldoc generation?

[2020-07-17 16:31] mhmerrill commented on #428
@hokiegeek2 I don't know how to run `chpldoc` in the processing. I imagine you can add it to the YAML file somehow but couldn't find the necessary information to do so.

[2020-07-17 17:11] hokiegeek2 commented on #428
@mhmerrill content.rst fix worked! So the Python autodoc is running, but the link is not showing up in content.rst. Hopefully that's a config thing.

[2020-07-18 13:28] hokiegeek2 opened #435 "Develop capability to write strings to HDF5 files"

[2020-07-18 13:29] hokiegeek2 commented on #435
Dupe of #433

[2020-07-18 13:29] #435 closed

[2020-07-20 11:03] hokiegeek2 opened #436 "Identify all public python methods and document in Numpy format"
1. Rename any methods that are internal Python methods (e.g., not to be called outside of the module) to start with an [underscore ](https://www.python.org/dev/peps/pep-0008/)
2. Document all public methods (e.g., the public module/class API or methods intended to be called outside module) in the [numpy docstrings](https://numpydoc.readthedocs.io/en/latest/format.html) format.

[2020-07-20 18:18] #432 closed

[2020-07-20 18:22] ronawho opened #437 "io_test failures on distributed systems"
I/O tests like io_test.py are writing to /tmp, but /tmp is usually a filesystem that's local to each machine. For clusters and other cases where the client and and server aren't running on the same machine, this creates problems.

I'd probably just use a subdir of the arkouda directory to ensure the directory is shared between the login and computes notes.

[2020-07-20 18:25] ronawho commented on #437
FYI @hokiegeek2 we see this for our nightly Cray CS/XC testing

[2020-07-20 18:38] hokiegeek2 commented on #437
@ronawho gotcha, okay, the easiest thing to do would be to add an env variable to make the io test directory configurable. I can do that, or if you want to, that's cool also.

[2020-07-20 18:40] ronawho commented on #437
If you have time, that'd be great. It'll be a while until I have a chance.

[2020-07-20 18:43] hokiegeek2 commented on #437
@ronawho cool, I'm on it

[2020-07-20 23:03] mhmerrill commented on #428
I am going to close this since we went with readthedocs.

[2020-07-20 23:03] #428 closed

[2020-07-20 23:05] mhmerrill commented on #403
@buddha314 I just put the arkouda docs up at this link https://arkouda.readthedocs.io/en/latest/, they are not perfect but you can see what is there.

[2020-07-20 23:09] #403 closed

[2020-07-20 23:09] #404 closed

[2020-07-20 23:11] mhmerrill commented on #365
I think we solved this with PR #434

[2020-07-20 23:11] #365 closed

[2020-07-20 23:13] mhmerrill commented on #339
@hokiegeek2 would we run this in the CI lint process possibly or maybe that's a stupid question ;-)

[2020-07-21 00:52] hokiegeek2 commented on #339
That’s actually an excellent question and yes, we could indeed do that.

—John

Sent from my iPhone

[2020-07-21 16:45] ronawho commented on #437
Fixed by https://github.com/mhmerrill/arkouda/pull/439 -- thanks @hokiegeek2!

[2020-07-21 16:45] #437 closed

[2020-07-21 16:49] ronawho opened #442 "Overwriting existing files warning for io_test"
Low priority since it's not causing any testing failures, but just a heads up that the I/O test generates some warnings -- https://github.com/mhmerrill/arkouda/runs/895080383#step:7:27

[code]

[2020-07-21 16:49] ronawho commented on #442
FYI @hokiegeek2

[2020-07-21 19:47] hokiegeek2 opened #443 "Fix tunnel bug"

[2020-07-21 23:24] mhmerrill commented on #443
i think this is closed.

[2020-07-21 23:24] #443 closed

[2020-07-23 11:00] hokiegeek2 opened #446 "Enable rethrowing of errors and passing in strings to errors"
There are sections of code within Arkouda that throw new Errors in error catch blocks such as this:

![image](https://user-images.githubusercontent.com/10785153/88279434-0cd8c800-ccb2-11ea-8006-2de68d437831.png)

It could help in debugging if we enable rethrowing errors by passing the root error in to the init method of the Error being rethrown. It should be pretty straightforward, basically need

[2020-07-23 19:59] reuster986 commented on #361
I believe this has been fixed, because the python client and chapel server now both render the version as a string exactly as it appears in the VERSION file.

[2020-07-23 19:59] #361 closed

[2020-08-03 17:46] mhmerrill opened #450 "add dtype field to strings array like and pdarray"
Add a `Strings.dtype` field to the Arkouda strings array/object so that we can test for `dtype` in the same way we do for `pdarray`.

[2020-08-04 15:29] ronawho opened #452 "Avoid requiring h5ls"
`lshdfMsg` shells out to `h5ls` in order to get the objects in the root group of an hdf5 file. This has created portability issues in our nightly testing where we've had to add `h5ls` to our `PATH` and even then we have some situations where `PATH` gets overridden (such as when running on a cray-xc elogin node.)

We can work around this in our testing, but it seems like this could be a pain point

[2020-08-05 15:05] hokiegeek2 commented on #60
@mhmerrill @reuster986 Are we good to close this issue?

[2020-08-19 17:14] mhmerrill opened #456 "switch LisExpr.chpl over to use shared objects instead of owned"
currently the `GenListValue` objects are `owned` this causes a lot of copying a change to `shared` should alleviate this.
https://github.com/mhmerrill/arkouda/blob/a1c64e50d1fa0a90f1c44dba049d2043ae411065/toys/LisExpr.chpl#L19
https://github.com/mhmerrill/arkouda/blob/a1c64e50d1fa0a90f1c44dba049d2043ae411065/toys/LisExpr.chpl#L355

[2020-08-20 13:44] hokiegeek2 opened #457 "security_test.py: figure out why shutil won't delete test dir"

[2020-08-20 15:31] ronawho opened #458 "Support all types/operations in benchmark codes"
The benchmarks track common types/operations, but it'd be good to be able to run all supported types. e.g. `bool` reductions are supported for reductions, but `reduce.py` can't run with bools and reduce.py only runs sum/prod/min/ max, but there are other operators like argmin/argmax/is_sorted.

See comments in https://github.com/mhmerrill/arkouda/pull/400 for more info.

[2020-08-21 22:01] buddha314 opened #462 "Support construction of sparse arrays"
This feature is referenced in the [documentation](https://arkouda.readthedocs.io/en/latest/usage/pdarray.html?highlight=sparse#rank).  I am creating this issue so users may be notified when it is implemented.

[2020-08-22 22:50] mhmerrill opened #463 "Put a link to nightly performance testing into the README.md"
https://chapel-lang.org/perf/arkouda/

[2020-08-25 12:22] hokiegeek2 opened #465 "save with mode=append to non-existent file throws non-intuitive error"
If a user mistakenly attempts to append a non-existent file, the following error is thrown:

![image](https://user-images.githubusercontent.com/10785153/91173481-e8567e00-e6ab-11ea-983d-0d6a2ce87d8c.png)

There's two paths:
1. Throw error stating something like "Cannot append a non-existent file"
2. Create the file, write the pdarray(s), and return a warning or a notification message that a new fi

[2020-08-26 11:50] hokiegeek2 opened #466 "read of non-existent dataset leaves hdf5 open, preventing subsequent writes"
Reading of non-existent dataset from hdf5 file results in the hdf5 file remaining open, which prevents writes to that file:

![image](https://user-images.githubusercontent.com/10785153/91298309-c7566180-e76d-11ea-8add-2c4a97d2d104.png)

Should be an easy fix of putting read logic in try...defer...catch sequence.

Another--possibly better--option is to put all hdf5 fileops in a module containing lo

[2020-08-26 11:52] hokiegeek2 commented on #147
@mhmerrill I recommend closing this now that Arkouda is on [readthedocs](https://arkouda.readthedocs.io/en/latest/)

[2020-08-29 16:12] mhmerrill commented on #463
I just committed  this change to the README.md in master, my bad but I thought it was small enough to get away with ;-)

[2020-08-29 16:12] #463 closed

[2020-08-29 19:00] buddha314 opened #467 "Feature Request: Interface to Cosine Similarity / Similarity"
Perhaps limited by this issue: https://github.com/chapel-lang/chapel/issues/16311

Scipy has the [cosine similarity / distance](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.cosine.html).  It would be useful in both dense and sparse matrices.

[2020-08-31 13:13] mhmerrill commented on #467
@reuster986

- what do you think of this request?
- Is this something we want in the server?
- Seems like we may have almost enough functionality to do this on the python side to start with?

[2020-08-31 15:26] mhmerrill commented on #467
@buddha314 I know this doesn't answer the mail completely but I just checked in an example of using arkouda to compute cosine similarity like the spicy routine

[2020-09-01 16:56] reuster986 opened #469 "Missing dtypes import"
There are four places in `sorting.py` that reference arkouda dtypes that never get imported, like this:

https://github.com/mhmerrill/arkouda/blob/a07c81f88cdc7b14cda0cd48bba694d004fd6a91/arkouda/sorting.py#L42

I believe this can be fixed by simply adding `from arkouda.dtypes import *` to the top.

[2020-09-02 14:45] #469 closed

[2020-09-02 15:05] mhmerrill opened #471 "document all arkouda env vars"
we now have quite a list of env vars for arkouda...
so I thought we should list and describe all arkouda environment variables

[2020-09-02 15:28] mhmerrill commented on #471
@ronawho @hokiegeek2 @reuster986 Here is a list I compiled of potential env vars to be documented
checked ones are ones I think are real and to be documented...

env vars I found mention but no code to read from env:
- [x] ARKOUDA_HOME

potential env vars from makefile:
- [ ] ARKOUDA_PROJECT_DIR
- [ ] ARKOUDA_SOURCE_DIR
- [ ] ARKOUDA_MAIN_MODULE
- [ ] ARKOUDA_MAKEFILES
- [x] ARKOUDA_DEVELOPER
- [x

[2020-09-02 16:33] mhmerrill opened #472 "have the arkouda server print the connection url"

[2020-09-02 17:14] ronawho commented on #471
I probably added a fair number of these, but I'm not sure many of the ones I added are really meant to be user-facing. Not to say they shouldn't be documented, but some may be more developer facing than meant for users. I also wonder if env vars are the best approach. It's what I'm used to as a command-line HPC person, but it's not obvious to me if it's what users are used to. https://github.com/m

[2020-09-03 12:15] hokiegeek2 opened #474 "Arkouda does not support overwriting datasets in hdf5 -> should it?"
I noticed that, when I attempt to overwrite a dataset the entire hdf5 file is overwritten:

![image](https://user-images.githubusercontent.com/10785153/92112101-49243b80-edbb-11ea-811e-491e94610ae3.png)

Question -> should we support overwriting individual datasets? Just wanted to open it up for discussion.

--John

[2020-09-03 18:20] hokiegeek2 commented on #472
Have this working:

![image](https://user-images.githubusercontent.com/10785153/92152391-953da300-edf0-11ea-95e2-1ca327e1975f.png)

[2020-09-03 18:36] hokiegeek2 commented on #146
@mhmerrill I recommend closing this as this work is complete

[2020-09-03 18:37] hokiegeek2 commented on #60
@mhmerrill is it cool to close this?

[2020-09-04 10:37] hokiegeek2 commented on #472
development complete, PR merged.

[2020-09-04 10:37] #472 closed

[2020-09-04 10:38] hokiegeek2 commented on #465
Development complete, PR merged.

[2020-09-04 10:38] #465 closed

[2020-09-04 12:32] #60 closed

[2020-09-04 12:33] #146 closed

[2020-09-17 14:53] #433 closed

[2020-09-18 20:21] reuster986 opened #480 ""Too many open files" error with many strings"
When loading more than ~ 1000 HDF5 files with strings arrays (does not seem to happen with int64 or float64), the C HDF5 library throws an error with the message "too many open files". I suspect this is related to the way in which `get_dataset_info` tests for a string: by trying to open the name as a dataset, detecting error, then trying to open the name as a group. This might be preventing the fi

[2020-09-19 19:55] mhmerrill commented on #467
@buddha314 I am currently putting together some notebooks with examples of Arkouda/Pandas/NumPy integration. To that end I started a new repo called [ArkoudaNotebooks](https://github.com/mhmerrill/ArkoudaNotebooks) I would love it if you would comment or put in some issues there about examples you would like to see.

[2020-09-21 17:53] hokiegeek2 opened #481 "strings io_test failing on nl=16+"

[2020-09-22 21:38] mhmerrill opened #484 "Wrong version of Anaconda script referenced in Mac section of Readme"
Readme should reference MacOS￼ version of Anaconda install script in the Mac install section.

[2020-09-23 20:21] reuster986 opened #486 "pdarrays still allowing iteration in some cases"
I believe we decided awhile back that pdarrays should never allow iteration and tried to disable it. Users should not be able to accidentally iterate over a pdarray, but they still can, which effectively kills the arkouda_server for large arrays.

Here is a code pattern that activates iteration:
[code]

I feel like we really want iterating over a pdarray to raise an exception. I propose the follow

[2020-09-23 20:24] reuster986 opened #487 "enable writing to single HDF5 file"
Multiple users have expressed a moderate desire to be able to save arrays to a single HDF5 file, as opposed to one file per locale. I think this is possible but perhaps requires a special version of HDF5?

[2020-09-23 20:28] hokiegeek2 commented on #487
@reuster986 I imagine we could copy all the data to a single locale and then write out to a file. Not sure why a special version of HDF5 is required?

[2020-09-24 13:48] hokiegeek2 commented on #480
@reuster986 do you see the "The dataset is neither at the root of the HDF5 file nor within a group" in the stack trace?

[2020-09-24 17:33] hokiegeek2 commented on #480
@reuster986 Not sure, but these lines either could be the culprit now or in the future, because errors are thrown prior to the file being closed on line 552

https://github.com/mhmerrill/arkouda/blob/a1f219e82b2a2807b7eb96e262961d23c769a3d1/src/GenSymIO.chpl#L519-L525

https://github.com/mhmerrill/arkouda/blob/a1f219e82b2a2807b7eb96e262961d23c769a3d1/src/GenSymIO.chpl#L552

[2020-09-24 17:43] hokiegeek2 commented on #480
Just submitted a [PR](https://github.com/mhmerrill/arkouda/pull/489) that hopefully fixes this.

[2020-09-24 19:15] #484 closed

[2020-09-24 20:09] hokiegeek2 commented on #486
@reuster986 Strings as well?

[2020-09-26 12:51] ronawho commented on #442
Done in https://github.com/mhmerrill/arkouda/pull/455

[2020-09-26 12:51] #442 closed

[2020-09-28 11:19] hokiegeek2 commented on #486
Implemented fix for both pdarrays and Strings:

![image](https://user-images.githubusercontent.com/10785153/94426005-eaa07200-015a-11eb-9d19-005596816705.png)

[2020-09-28 18:44] hokiegeek2 commented on #486
work complete, PR approved and merged.

[2020-09-28 18:44] #486 closed

[2020-09-29 16:45] hokiegeek2 commented on #466
The fix for issue #480 also fixes this issue. I confirmed by attempting to load a non-existent dataset, which raised an error, and then saving that dataset in append mode:
![image](https://user-images.githubusercontent.com/10785153/94587281-5a445900-0250-11eb-9d5f-c22f5c04cdd2.png)

Also works in truncate mode:

![image](https://user-images.githubusercontent.com/10785153/94587822-1ef65a00-0251-11e

[2020-09-29 16:45] #466 closed

[2020-09-29 17:05] mhmerrill commented on #480
@hokiegeek2 should we close this one also?

[2020-09-29 17:06] hokiegeek2 commented on #480
@mhmerrill Yes, I believe so.

[2020-09-29 17:07] #480 closed

[2020-09-29 20:28] reuster986 opened #498 "HDF5 errors (non-fatal) on non-string data"
@hokiegeek2 after you fixed the strings issue with not closing the HDF5 file, now I'm getting a ton of HDF5 errors to stderr when I read in an int64 or float64 dataset from HDF5. Errors look like:

[code]

There must be a way in HDF5 to tell whether an object is a group or a dataset before trying to open it, right? I'm concerned these errors will leave open files and cause that same "too many file

[2020-09-29 20:31] hokiegeek2 commented on #498
@reuster986 whoa, on it now.

[2020-09-30 11:23] hokiegeek2 commented on #498
@reuster986 Okay, I've fixed the issue of throwing the error that was resulting in the error you posted:

![image](https://user-images.githubusercontent.com/10785153/94679061-7a762580-02ed-11eb-9105-4d6ae79517fc.png)

It's still throwing an error that I am now catching withtin the isDatasetWithinGroup function, so I am working out the syntax to get the object info so I can differentiate between gr

[2020-09-30 14:37] mhmerrill opened #499 "Add a convenience function to clear specific or all unregistered data from server symbol table."
After working with Arkouda from a notebook I realized it would be very nice to have a `ak.clear()` function to clear out a specific `pdarray` or all unregistered `pdarray`s from the Arkouda server symbol table.

Maybe the interface looks like:
[code]

[2020-09-30 14:45] mhmerrill opened #500 "Fix ak.array to accept string columns from a Pandas dataframe directly"
I could not pass an all strings column from a Pandas dataframe directly into `ak.array()` with out exception. below is the current workaround of my function that transfers dataframe columns into the arkouda server. The workaround turns the column into a python `list()` and then passes that to `ak.array()`.

To be clear, the column and the dataframe was constructed from `pd.read_csv()`.

Maybe ther

[2020-09-30 18:55] mhmerrill opened #502 "Update documentation to reflect new features and changes in Arkouda"
I'll link/list the changes which we need in this issue.
Some are known already:
- server connection authentication and url example
- assignment using logical indexing i.e. expansion-to-true-positions
- maybe add the other new benchmarks to the doc
- update example server startup messages in the doc
- add new operations like `ak.mink()`,`ak.register()`, `ak.disconnect()` to the doc

and potentially

[2020-10-01 11:41] hokiegeek2 commented on #498
Added exists check to see if the strings  <dsetName>/values object exists in the hdf5 file within a method called isStringsDataset. If true, then /values and /segments datasets are processed. If false, then just dsetName is processed.

Also added logic to quiet the HDF5 error message which is printed when the exists check is executed. Consequently, Arkouda prints/handles an HDF5-related error mess

[2020-10-01 13:43] hokiegeek2 commented on #498
Developed and tested fix, documented here, PR merged, issue resolved.

[2020-10-01 13:43] #498 closed

[2020-10-01 13:45] hokiegeek2 commented on #481
Developed and tested fix, [PR](containing) fix merged, issue resolved.

[2020-10-01 13:45] #481 closed

[2020-10-01 17:14] hokiegeek2 commented on #436
Development complete, PR merged into master, issue resolved.

[2020-10-01 17:14] #436 closed

[2020-10-01 17:20] hokiegeek2 commented on #89
@mhmerrill are we ready to close this issue?

[2020-10-01 17:22] mhmerrill commented on #89
yes.

[2020-10-01 17:22] #89 closed

[2020-10-01 17:22] hokiegeek2 commented on #90
@mhmerrill do you think we should close this issue?

[2020-10-01 17:23] mhmerrill commented on #90
yes we can open a new one in the future if something else is identified.

[2020-10-01 17:23] #90 closed

[2020-10-01 17:30] mhmerrill commented on #450
I think for now using the `Strings.bytes.dtype`(which is `np.uint8`) is ok, otherwise we may have to invent something.
@hokiegeek2 and @reuster986 what do you think?

[2020-10-01 18:11] hokiegeek2 commented on #450
@mhmerrill I vote yes, I like the idea of Strings.bytes.dtype = np.uint8. It's already [implemented](https://github.com/mhmerrill/arkouda/commit/4e3e304ec060d30c4ed444216e58c56a4de6fe28) and I am ready to submit the PR for it.

[2020-10-01 19:01] reuster986 commented on #450
I think `np.str_` would be more in-keeping with numpy. The problem with doing `np.uint8` is that one day we might want to support actual uint8 arrays as first-class objects, and then a dtype of `np.uint8` would be ambiguous.

[2020-10-01 19:08] mhmerrill commented on #450
hey, whatever works but inventing a new dtype is a bigger problem, we can use `np.str_` as long as people remember it means "optimized" strings in arkouda.

[2020-10-01 19:34] hokiegeek2 commented on #450
@mhmerrill @reuster986 just updated

[2020-10-01 19:49] reuster986 commented on #450
Note: I should have said `np.str`, not `np.str_`. I'm not sure why I messed that up.

My philosophy on dtype has two aspects:
1. The dtype should answer the question, "from the user's perspective, what is the type of an element of this array?"
2. The dtype should also be a callable function that normalizes any valid scalar to the standard format for elements of that array, e.g.

[code]

This secon

[2020-10-02 18:42] #318 closed

[2020-10-02 19:24] mhmerrill opened #508 "update version and make a new tag in repo"
we've had a lot of new features added and bug fixes since we rev'd the version number.

[2020-10-05 12:47] hokiegeek2 opened #510 "Streamline type hints per Python PEP 585"
Once Arkouda switches to Python 3.9, recommend updating the type hints per [PEP-585](https://www.python.org/dev/peps/pep-0585/)

[2020-10-05 12:52] hokiegeek2 commented on #457
Fixed in PR [511](https://github.com/mhmerrill/arkouda/pull/511)

[2020-10-05 12:53] hokiegeek2 commented on #474
@mhmerrill @reuster986 Thoughts on this one?

[2020-10-05 12:55] hokiegeek2 commented on #450
Fixed in PR [505](https://github.com/mhmerrill/arkouda/pull/505), PR approved and merged into master, issue resolved.

[2020-10-05 12:56] #450 closed

[2020-10-06 10:44] hokiegeek2 commented on #348
[PR](https://github.com/mhmerrill/arkouda/pull/512) submitted

[2020-10-06 10:46] hokiegeek2 commented on #338
Development and testing complete, PR merged, issue resolved.

[2020-10-06 10:46] #338 closed

[2020-10-06 11:08] hokiegeek2 commented on #147
@mhmerrill Do you think we should close this? Seems like this issue is resolved.

[2020-10-06 11:47] mhmerrill commented on #147
yep, closed

[2020-10-06 11:47] #147 closed

[2020-10-06 17:01] hokiegeek2 commented on #446
Leveraged the getLineNumber(), getRoutineName(), and getModuleName() functions @mhmerrill mentioned, which works well:

![image](https://user-images.githubusercontent.com/10785153/95231392-182b9200-07d1-11eb-95bc-51c92793bff1.png)

![image](https://user-images.githubusercontent.com/10785153/95235707-eb2cae80-07d3-11eb-8ce5-606294670b1b.png)

Probably a good idea to implement a factory to generate

[2020-10-07 16:57] hokiegeek2 commented on #316
@reuster986 I don't have the class name, but I do have the module name:

![image](https://user-images.githubusercontent.com/10785153/95362343-f4814e00-089b-11eb-8ae9-6e755823d7a7.png)

When I write out e vs e.message(), the class name is included:

![image](https://user-images.githubusercontent.com/10785153/95362472-21356580-089c-11eb-973c-2e2cc609bc18.png)

I'm gonna see if I can include the erro